<!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Imported Batches
      </h1>
	</section>
    
    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box batch">
				<div class="box-header">
				  	<h3 class="box-title"></h3>
				</div>
                {{action}}
                <form role="form" class="ng-pristine ng-valid">
				 
					<div class="box-body Imported-Check enter-Check">
                    	<div class="form-group col-sm-4 col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-institution"></i>
									<label>Account</label>
								</div>
								<select ui-select2="" ng-model="importedbatch.companyadmin" class="form-control" ng-controller="MultiStepFormController as companyAdmin">
									<option value="">Select Merchant Admin</option>
									<!--<option value="-1">All Company</option>-->
									<option ng-repeat="companyadmin in company.company_admin" value="{{companyadmin.id}}">{{companyadmin.company_name}} {{companyadmin.company_email}}</option>
								 </select>
								 
							</div>
								<!-- /.input group -->
						</div>
                        
                        <div class="form-group col-xs-12 col-sm-6 col-md-3">
                        	<div class="input-group" style="position: relative;">
                            	<div class="input-group-addon">
                                	<label class="control-label" for="inputBatchFormtDate">From Date</label>
                                </div>
                                <input id="inputBatchFromDate" class="form-control" datetime-picker date-format="MM/dd/yyyy" placeholder="Date" date-only ng-model="impotedbatch.FROM_DATE" type="text">
                        	</div>
                        </div>
                        
                         <div class="form-group col-xs-12 col-sm-6 col-md-3">
                         	<div class="input-group" style="position: relative;">
                                <div class="input-group-addon">
                                    <label class="control-label" for="inputBatchToDate">To Date</label>
                                </div>
                            
                                <input id="inputBatchToDate" class="form-control" datetime-picker date-format="MM/dd/yyyy" placeholder="Date" date-only ng-model="impotedbatch.TO_DATE" type="text">
                            </div>
                        </div>
                       
                        <div class=" col-sm-4 col-md-2">
                            <button class="btn btn-primary" type="submit" ng-click="upload()">SEARCH</button>
                        </div>
					</div>
                    	 <!-- /.box-body -->
                 </form>
					<!-- /End Form -->
                <div class="table-responsive no-padding">
                	<table class="table table-hover">
					<tr>
					  <th>ID</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('company_name')">Merchant Name
						  <span class="sortorder" ng-show="propertyName === 'company_name'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>Date</th>
					  <th>File</th>
                      <th>Total Checks</th>
                      <th>Total Amount</th>
					</tr>
					<tr ng-animate="'animate'">
					  <td>1</td>
					  <td>test</td>
					  <td>12/13/2016</td>
					  <td>test.csv</td>
					  <td>2</td>
					  <td>40</td>
					 </tr>
					 <tr>
					  <td>2</td>
					  <td>Sampletest</td>
					  <td>12/13/2016</td>
					  <td>test1.csv</td>
					  <td>0</td>
					  <td>10</td>
					 </tr>
					 <tr>
					  <td>3</td>
					  <td>sample</td>
					  <td>12/13/2016</td>
					  <td>test3.csv</td>
					  <td>5</td>
					  <td>20</td>
					 </tr>
				  </table>
                </div>
                
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
    </section>
    <!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
