<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
      <h1>
        Import Checks
      </h1>
	</section>
{{action}}
	<!-- Main content -->
	<section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box batch">
				<div class="box-header">
				  	<h3 class="box-title"></h3>
				</div>
                
                <form role="form" class="ng-pristine ng-valid">
				 
					<div class="box-body Import-Check enter-Check" >
                    	<div class="form-group col-sm-4 col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-institution"></i>
									<label>Import to Account</label>
								</div>
								<select ui-select2="" ng-model="importbatch.companyadmin" class="form-control" ng-controller="MultiStepFormController as companyAdmin">
									<option value="">Select Merchant Admin</option>
									<!--<option value="-1">All Company</option>-->
									<option ng-repeat="companyadmin in company.company_admin" value="{{companyadmin.id}}">{{companyadmin.company_name}} {{companyadmin.company_email}}</option>
								 </select>
								 
							</div>
								<!-- /.input group -->
						</div>
                        <div class="form-group col-sm-4 col-md-4">
                                 <label for="exampleInputFile">Select CSV File</label>
                                 <div class="fileUpload btn btn-primary">
                                    <span>Browse</span>
                                    <input id="uploadBtn" class="upload" ng-model="batch.fileupload" type="file">
                                </div>
                                <input id="uploadFile" placeholder="No file selected" disabled="disabled" />
                                 
                        </div>
                       
                       
                        <div class=" col-sm-4 col-md-4">
                            <button class="btn btn-primary" type="submit" ng-click="upload()">UPLOAD</button>
                        </div>
					</div>
                    	 <!-- /.box-body -->
                 </form>
				
                
                
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
</div>
<script>
	document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>
