  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
        Invoice
      </h1>
      <ol class="breadcrumb">
        <li class="active">invoice</li>
      </ol>
      <flash-message>
				   <!--  <div class="my-flash">{{ flash.text }}</div> -->
				</flash-message>
	</section>

    <!-- Main content -->
    <section class="content slc-invoice">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box box-primary">
				<div class="box-header">
				
				  <!-- <h3 class="box-title">Invoice</h3> 
				     Select All -->
					<button ng-click="downloadMultipleInvoice(invoice)" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
					<div ng-show="loader.loading" class="btn btn-success">Downloading...
			        <i class="fa fa-spinner fa-spin"></i>
			        </div>
				  <div class="box-tools">

					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<div style="visibility: hidden">
					  <div class="md-dialog-container" id="myStaticDialog">
						<md-dialog>
						  This is a pre-rendered dialog.
						</md-dialog>
					  </div>
					</div>
				  <table class="table table-hover table-striped th-color">

					<tr>
					<th>	
					<md-checkbox  type='checkbox'  ng-click="toggleAll()" ng-model="selectAll">
					</md-checkbox>

					<!-- <input type='checkbox' name='' ng-click="toggleAll()" ng-model="selectAll" /> -->
					</th>	
					  <th>ID</th>
					  <th>Action</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('id')">Charge Id
						  <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th width="120">
						<a href="javascript:void(0);" ng-click="sortBy('amount')">Amount
						  <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('customer')">Customer
						  <span class="sortorder" ng-show="propertyName === 'customer'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th width="110">
<!--
						<a href="javascript:void(0);" ng-click="status('customer')">Status
						  <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
						</a>
-->
						<a href="javascript:void(0);" ng-click="sortBy('status')">Status
						<span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
					  </a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('invoice')">Invoice
						  <span class="sortorder" ng-show="propertyName === 'invoice'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('email')">Email
						  <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					</tr>
					<tr ng-repeat="invoice in invoice.getInvoice | filter:searchText | orderBy:propertyName:reverse" ng-animate="'animate'">

					<td>
					<md-checkbox  type='checkbox' ng-model="invoice.multiple" ng-click="unChecked();"  >
					</md-checkbox>
					<!-- <input  type='checkbox' ng-model="invoice.multiple" ng-click="unChecked();" /> -->
				
					</td>
					  <td>{{$index + 1}}</td>
					  <td>
					<!-- 	<a ui-sref="invoice-view({ id: invoice.id })" ><i class="fa fa-file-text-o"></i></a> &nbsp; -->
						<!--<a ui-sref="invoice-download({ id: invoice.id })" ><i class="fa fa-download"></i></a> -->&nbsp;
						<a href="#" ng-click="downloadInvoice($event,invoice.id)" >
						<i class="fa fa-download"><md-tooltip md-direction="top">Download</md-tooltip></i></a> &nbsp;
					
					  </td>
					  	
					  <td>{{invoice.id}}</td>

					  <td>{{invoice.amount}}</td>
					  <td>{{invoice.customer}}</td>
					  <td>{{invoice.status}}</td>
					  <td><a ui-sref="invoice-view({ id: invoice.id })" >{{invoice.invoice}}</a></td>
					  <td>{{invoice.email}}</td>
					  </tr>
				  </table>
				  <span us-spinner=""></span>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
        
        <!-- /.box-footer-->
     

    </section>
    
	<!-- Footer Start-->
	<div class="main-footer" ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
