<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Transactions
		</h1>
			<ol class="breadcrumb">
		<li class="active">Transactions</li>
		</ol>
	</section>

    <!-- Main content -->
	<section class="content">
		  
		<div class="row">
			<div class="col-xs-12">
				<div class="">

					<div class="nav-tabs-custom" ng-controller="MultiStepFormController as companyAdmin">
						<ul class="nav nav-tabs">
						<li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
						<a href="javascript:void(0)" ng-click="goToStep($index)"><span class="tabNumber">{{$index + 1}} </span><span class="tabName">{{step}}</span></a>
						</li>
						</ul>

						<div class="col-md-12 tab-content">
							<div class="box box-primary">
								<div class="box-header"></div>
								<div ng-switch on="selection">
									<!-- First -->
									<div ng-switch-when="Search checks" >
										<!--<div class="box-header with-border">
											<h3 class="box-title">Transactions</h3>
										</div>-->
                                        <form class="form-horizontal" role="form">
                                        <div class="box-body view-print-check">
                                        	<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">Account</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <select ui-select2="" ng-model="check.company_admin" class="form-control" ng-change="getCompanyUsers(check.company_admin)" ng-if="authSuAdmin || authScxAdmin">
																	<option value="">Select Merchant</option>
																	<!--<option value="-1">All Company</option>-->
																	<option ng-repeat="companyadmin in company.company_admin" value="{{companyadmin.id}}">{{companyadmin.company_name}} {{companyadmin.company_email}}</option>
																 </select>
															
                                                    <select ng-model="check.company_admin" class="form-control" ng-change="getCompanyUsers(check.company_admin)" ng-if="authcompAdmin || authcompUser">
																	<option value="">Select Merchant</option>
																	<option value="-1">All Company</option>
																	<option ng-repeat="companyadmin in companyadmin" value="{{companyadmin.id}}">{{companyadmin.name}} {{companyadmin.email}}</option>
																 </select>
																 
                                                </div>
												
                                            </div>
                                            	<!-- / .form-group -->
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">User</label>
												{{company.companyuser}}
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                   
													<select class="form-control ng-pristine ng-valid ng-empty ng-touched"  ng-model="check.user" 
															ng-options="x.id as x.name for x in companyusers track by x.id"
															class="form-control" ng-disabled="!companyusers"
															>
													  <option value="">-- Select User --</option>
													</select> 
													 
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">Month</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <select  class="form-control ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" ng-model="check.month">
                                                        <option value="January">January</option>
                                                        <option value="February">February</option>
                                                        <option value="March">March</option>
                                                        <option value="April">April</option>
                                                        <option value="May">May</option>
                                                        <option value="June">June</option>
                                                        <option value="July">July</option>
                                                        <option value="August">August</option>
                                                        <option value="September">September</option>
                                                        <option value="October">October</option>
                                                        <option value="November">November</option>
                                                        <option value="December">December</option>
                                                    </select>
                                                </div>
                                            </div>-->
                                            	<!-- / .form-group -->
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">From date</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <input id="" class="form-control" type="text" ng-model="check.from_date" datetime-picker date-format="MM/dd/yyyy" placeholder="Date" date-only>
                                                    <i class="fa fa-calendar-check-o"></i>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">To date</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <input id="" class="form-control" type="text" placeholder="Date" ng-model="check.to_date" datetime-picker date-format="MM/dd/yyyy" date-only>
                                                    <i class="fa fa-calendar-check-o"></i>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <div class="form-group">
                                            	<label class="col-xs-12 col-sm-5 col-md-3 control-label"></label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                            	<button type="submit" class="btn btn-primary" ui-sref="search-checks({ sc_token: user.sc_token, check_company_admin:check.company_admin,  check_company_user:check.user, check_month:check.month, check_from_date:check.from_date, check_to_date:check.to_date})">Search</button>
                                            	<!--<button type="submit" class="btn btn-primary" ui-sref="search-checks({ sc_token: user.sc_token }, {company_admin:check.check.company_admin}, {company_user:check.check.user})">Search</button>-->
                                                </div>
                                          	</div>
                                            
                                        </div>
                                        </form>
									</div>
									<!-- Second -->
									<!--<div ng-switch-when="Recurring Payments" >
										<div class="box-header with-border">
											<h3 class="box-title">Recurring Payments</h3>
										</div>
                                        <form class="form-horizontal" role="form">
                                        <div class="box-body view-print-check recurring-payments">
                                        	<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">Merchant</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <select ui-select2="" ng-model="check.company_admin" class="form-control" ng-change="getCompanyUsers(check.company_admin)">
																	<option value="">Select Merchant Admin</option>
																	<!--<option value="-1">All Company</option>-->
																	<!--<option ng-repeat="companyadmin in company.company_admin" value="{{companyadmin.id}}">{{companyadmin.company_name}} {{companyadmin.company_email}}</option>
																 </select>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">User</label>
												{{company.companyuser}}
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                   
													<select class="form-control ng-pristine ng-valid ng-empty ng-touched"  ng-model="check.user" 
															ng-options="x.id as x.name for x in companyusers track by x.id"
															class="form-control" ng-disabled="!companyusers"
															>
													  <option value="">-- Select User --</option>
													</select> 
													 
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">Month</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <select ng-model="check.month" class="form-control ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false">
                                                        <option value="January">January</option>
                                                        <option value="February">February</option>
                                                        <option value="March">March</option>
                                                        <option value="April">April</option>
                                                        <option value="May">May</option>
                                                        <option value="June">June</option>
                                                        <option value="July">July</option>
                                                        <option value="August">August</option>
                                                        <option value="September">September</option>
                                                        <option value="October">October</option>
                                                        <option value="November">November</option>
                                                        <option value="December">December</option>
                                                    </select>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">From date</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <input id="" class="form-control" type="text" placeholder="Date" ng-model="check.from_date" datetime-picker date-format="MM/dd/yyyy" date-only>
                                                    <i class="fa fa-calendar-check-o"></i>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                                <label class="col-xs-12 col-sm-5 col-md-3 control-label" for="">To date</label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                                    <input id="" class="form-control" type="text" placeholder="Date" ng-model="check.to_date" datetime-picker date-format="MM/dd/yyyy" date-only>
                                                    <i class="fa fa-calendar-check-o"></i>
                                                </div>
                                            </div>
                                            	<!-- / .form-group -->
                                            <!--<div class="form-group">
                                            	<label class="col-xs-12 col-sm-5 col-md-3 control-label"></label>
                                                <div class="col-xs-12 col-sm-4 col-md-3">
                                            	<button type="submit" class="btn btn-primary" ui-sref="search-recurrent-checks({ sc_token: user.sc_token, check_company_admin:check.company_admin,  check_company_user:check.user, check_month:check.month, check_from_date:check.from_date, check_to_date:check.to_date})">Search Recurring Payments</button>
                                                </div>
                                          	</div>
                                            
                                        </div>
                                        </form>
									</div>-->
								</div>
							</div>
							<div class="alert alert-danger" ng-if="user.error">
								<strong>There was an error: </strong> {{user.error.error}}
								<br>Please go back and login again
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
	<!-- Footer Start-->
	<div class="main-footer" ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->

</div>

