<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Email Template
		</h1>
		<div class="col-md-2">
		  <a ui-sref="email-template-add" class="btn btn-block btn-default">Add new</i></a>&nbsp; 
      </div>
		<ol class="breadcrumb">
			<li class="active">email-template</li>
			<li class="active">email-template</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Email Template</h3>

						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<div style="visibility: hidden">
							<div class="md-dialog-container" id="myStaticDialog">
								<md-dialog>
								  This is a pre-rendered dialog.
								</md-dialog>
							</div>
						</div>
						<table class="table table-hover">
							<tr>
								<th>ID</th>
								<th width="100">Action</th>
								<th>Template name</th>
								<th>From</th>
								<th>Subject</th>
								<th>Value</th>
								<th>Created at</th>
								<th>Updated at</th>
							</tr>
							<tr ng-repeat="emailtemplate in emailtemplate.emailTemplate" ng-animate="'animate'">
								<td>{{$index + 1}}</td>
								<td>
									<a ui-sref="email-template-edit({ id: emailtemplate.id })" ><i class="fa fa-edit"></i></a> &nbsp;
									<a><span class="delete" ng-click="deleteEmailTemplate($event, emailtemplate.id)"><i class="fa fa-close"></i></a></span></a>&nbsp;
								</td>
								<td>{{emailtemplate.template_name}}</td>
								<td>{{emailtemplate.from}}</td>
								<td>{{emailtemplate.subject}}</td>
								<td>{{emailtemplate.template_value}}</td>
								<td>{{emailtemplate.created_at}}</td>
								<td>{{emailtemplate.updated_at}}</td>
							</tr>
						</table>
					</div>
				<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
		Footer
		</div>
		<!-- /.box-footer-->


	</section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
