  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Enter Check
      </h1>
      <ol class="breadcrumb">
        <li class="active">customer-check</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header with-border">
					  <h3 class="box-title">Enter Customers Check Information</h3>
					 </div>
                     <form role="form">
					<div class="box-body enter-Check">
                    	<div class="form-group col-sm-6 col-md-6">
							<div class="input-group">
								<div class="input-group-addon">
									<a href="#"><i class="fa fa-user"></i>
									<label>Name:</label></a>
								</div>
                                <div class="input-group-addon">
									<a href="#"><i class="fa fa-phone"></i>
									<label>Phone:</label></a>
								</div>
								
								<input type="text" class="form-control" placeholder="Acccount Holder Name">
							</div>
								<!-- /.input group -->
						</div>
                       
						<div class="form-group col-sm-6 col-md-6">
							<div class="input-group">
								<div class="input-group-addon">
									<a href="#"><i class="fa fa-envelope"></i>
									<label>Email:</label></a>
								</div>
                                <div class="input-group-addon">
									<a href="#"><i class="fa  fa-keyboard-o"></i>
									<label>Address:</label></a>
								</div>
								
								<input type="email" class="form-control" placeholder="Email">
							</div>
								<!-- /.input group -->
						</div>
						
                        <div class="form-group col-sm-6 col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a href="#"><i class="fa fa-building"></i>
                                    <label>City:</label></a>
                                </div>
                                <div class="input-group-addon">
                                    <a href="#"><i class="fa fa-globe"></i>
                                    <label>State:</label></a>
                                </div>
                                <div class="input-group-addon">
                                    <a href="#"><i class="fa fa-key"></i>
                                    <label>Pin:</label></a>
                                </div>
                                
                                <input type="text" class="form-control" placeholder="City Name">
                            </div>
                         </div>
										<!-- /.input group -->
                        <div class="col-sm-6 col-md-6">
							<div class="row">
								<div class="form-group col-sm-6 col-md-6">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-ticket"></i>
											<label>Check:</label>
										</div>
										
										<input type="text" class="form-control" placeholder="Check Number">
									</div>
								 </div>
								 <div class="form-group col-sm-6 col-md-6">
									 <div class="input-group">
										<div class="input-group-addon">
											<i class="fa  fa-dollar"></i>
											<label>Amount:</label>
										</div>
										
										<input type="text" class="form-control" placeholder="Amount">
									</div>
								 </div>
										<!-- /.input group -->
							</div>
						</div>
                        <div class="form-group col-sm-6 col-md-6">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-institution"></i>
									<label>Company Name:</label>
								</div>
								
								<select class="form-control">
                                    <option>Company Name</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                              	</select>
							</div>
								<!-- /.input group -->
						</div>
                        <div class="form-group col-sm-6 col-md-6">
							<div class="input-group">
								<div class="input-group-addon">
									<a href="#"><i class="fa fa-male"></i>
									<label>Pay to the Order of 1:</label></a>
								</div>
                                <div class="input-group-addon">
									<a href="#"><i class="fa fa-male"></i>
									<label>Pay to the Order of 2:</label></a>
								</div>
								
								<input type="text" class="form-control" placeholder="Memo 1">
							</div>
								<!-- /.input group -->
						</div>
                       
                        <div class="col-sm-12 col-md-12">
							<div class="row">
								<div class="form-group col-sm-4 col-md-4">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-ticket"></i>
											<label>Routing:</label>
										</div>
										
										<input type="text" class="form-control" placeholder="Routing#">
									</div>
                                    		<!-- /.input group -->
								 </div>
								 <div class="form-group col-sm-4 col-md-4">
									 <div class="input-group">
										<div class="input-group-addon">
											<i class="fa  fa-dollar"></i>
											<label>Checking Amount:</label>
										</div>
										
										<input type="text" class="form-control" placeholder="Checking Amount #">
									</div>
								 </div>
										<!-- /.input group -->
                                 <div class="form-group col-sm-4 col-md-4">
									 <div class="input-group">
										<div class="input-group-addon">
											<i class="fa  fa-dollar"></i>
											<label>Confirm Amount:</label>
										</div>
										
										<input type="text" class="form-control" placeholder="Confirm Amount#">
									</div>
								 </div>
										<!-- /.input group -->
							</div>
						</div>
                        <div class="col-sm-6 col-md-6">
                            <div class="checkbox col-sm-6 col-md-6">
                              <label>
                                <input type="checkbox"> Recurring Payments
                              </label>
                            </div>
                            <div class="box-footer col-sm-6 col-md-6" style="border-top: 0 none;">
                            	<button type="submit" class="btn btn-primary pull-right">Save This Check</button>
                            </div>
                        </div>
                            
					</div>
                    </form>
                    <div class="check-wrapper text-center">
                    	<div class="inner-check-wrapper center-block">
                            	<div class="CompanyNameDiv">
                                    <input type="text" value="" disabled="disabled" class="companyname">
                                    <input type="hidden" id="company" value="1133" disabled="disabled" name="">
								</div>
                                <div class="MemoNameDiv">
                                    <input type="text" value="" disabled="disabled" class="memo-name">
								</div>
                                <div class="CheckNumberDiv">
                                    <input type="text" value="" disabled="disabled" placeholder="Check Number" class="check-number">
								</div>
                                <div class="CheckAmountDiv">
                                    <input type="text" value="" disabled="disabled" class="check-amount">
								</div>
                                <div class="RoutingDiv">
                                    <input type="text" value="" disabled="disabled" placeholder="Routing #" class="check-routing">
								</div>
                                <div class="CheckingAccountDiv">
                                    <input type="text" value="" disabled="disabled" placeholder="Checking Account #" class="checking-account">
								</div>
                                <div class="ConfirmAccountDiv">
                                    <input type="text" value="" disabled="disabled" placeholder="Confirm Account #" class="confirm-account">
								</div>
                        </div>
                    </div>
				</div>
			</div>
			  <!-- /.box -->
		</div>
        <!-- /.box-body -->
    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
