<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>Select2 Usecase</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/select2.css" />
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/angular-ui.css" />
  <script src="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/jquery.min.js"></script>
  <script src="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/select2.min.js"></script>
  <script src="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/angular.min.js"></script>
  <script src="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/angular-ui.js"></script>
  <script src="https://dl.dropboxusercontent.com/u/1004639/stackoverflow/angular-ui-select2.js"></script>
  <script src="app.js"></script>


</head>

<body ng-controller="MainCtrl">
  <p>{{selectedId}}</p>
  <select ui-select2="" ng-model="selectedId">
    <option value="">Choose...</option>
    <option ng-repeat="option in options" value="{{option.id}}" ng-selected="{{option.id == selectedId}}">{{option.name}}</option>
  </select>
  
    <div ng-controller="AjaxCtrl">
      <h1>AJAX - Oriented</h1>
    <div>
        Country: 
        <select id="country" ng-model="country" ng-options="country for country in countries">
          <option value=''>Select</option>
        </select>
    </div>
    <div>
        City: <select id="city" ng-disabled="!cities" ng-model="city" ng-options="city for city in cities"><option value=''>Select</option></select>
    </div>
    <div>
        Suburb: <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs"><option value=''>Select</option></select>        
    </div>
</div>
  <div ng-controller="StaticCtrl">
      <h1>Static - Oriented</h1>
      <p>This approach may be better when you have the entire dataset</p>
    <div>
        Country: 
        <select id="country" ng-model="cities" ng-options="country for (country, cities) in countries">
          <option value=''>Select</option>
        </select>
    </div>
    <div>
        City: <select id="city" ng-disabled="!cities" ng-model="suburbs" ng-options="city for (city, suburbs) in cities"><option value=''>Select</option></select>
    </div>
    <div>
        Suburb: <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs"><option value=''>Select</option></select>        
    </div>
  </div>


</body>

</html>