.container {
    width: 100%;
	padding:0px;
}
.row-no-padding {
    padding-left: 0;
    padding-right: 0;
}
.well{
	float:left;
	width:100%;
}
.form-group.credit-card {
    position: relative;
}
.card-images {
    background-image: url("../images/cards.png");
    background-position: 39px center;
    background-size: 315px auto;
    height: 25px;
    margin-top: 5px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 40px;
    z-index: 102;
}
.form-horizontal .card-images {
	right: 15px;
}
.card-images.visa{
	background-position: -127px center;
}
.card-images.mastercard{
	background-position: -80px center;
}
.card-images.amex{
	background-position: 0px center;
}
.card-images.diners{
	background-position: -165px center;
}
.card-images.discover{
	background-position: -39px center;
}
.card-images.jcb{
	background-position: -204px center;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

span.ghost, span.delete{
	cursor:pointer;
}	
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #3c8dbc;
}
md-checkbox:last-of-type {
  margin-left: 10px;
  margin-right: 10px;
}
/* Editor styling */

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}

/*sidebar menu animation*/

.ng-hide-add, .ng-hide-remove {
    display: block !important; 
}
.treeview-menu  {
    transition: .5s linear all;
    max-height: 200px;
    overflow: hidden;
}
.treeview-menu.ng-hide {
    max-height:0;
}
/* Subscription */
.cardDetails {
	padding-left: 0px; 
	margin-left: 0px; 
	text-align: left; 
	width: auto; 
	padding-right: 0px;
}
.cardDetailsOverride{
	width:47%;
}
.compAdminCardDetails{
	margin-top:-15px;
}
/*  manoj edited css  */

/* header */
.main-header{
	background-color: #3c8dbc;
	position: fixed;
    width: 100%;
	top: 0;	
}
.content-wrapper{
	margin-top: 50px;	
}
.skin-blue .main-header .navbar {
    background-color: transparent;
}
.main-header .navbar{
	margin-left: 0;		
}
.main-header .logo{
	position: absolute;
    left: 42px;	
	width: 187px;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 187px;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
}
/* End header */
.form-control{
	border-radius: 3px;
	
}
.btn.btn-flat{
	border-radius: 4px;
}
img{
	max-width:100%;
}
.login-box-body{
	border-top: 2px solid;
	
}
/*.box-footer{
	background-color: #ecf0f5;
}*/
.btn-info{
	margin-left: 5px;
}
.input-group-addon {
  min-width: 44px;
  padding: 8px 5px;
}
.input-group .input-group-addon{
	border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.enter-Check .form-group .input-group-addon label{
	margin-bottom:0;	
}
.check-wrapper{
	padding-bottom:20px;	
}
.inner-check-wrapper{
	background-image: url("../images/blank_check_large.png");
	background-position:center center;
	background-size:825px auto;
	background-repeat:no-repeat;
    height:400px;
    width: 830px;
	position:relative;	
}

.inner-check-wrapper > div{
	position:absolute;
	z-index:1;	
}
.inner-check-wrapper .CompanyNameDiv{
	top:10.5em;
	left:10em;	
	width: 380px;
}
.inner-check-wrapper .MemoNameDiv{
	top:21em;
	left:6em;	
	width: 300px;
}
.inner-check-wrapper .CheckNumberDiv {
  right: 2.5em;
  top: 3.3em;
  background-color: #dcf1f6;
  height: 25px;
  width: 140px;
}
.inner-check-wrapper .CheckAmountDiv {
  right: 2.7em;
  top: 10.8em;
  width: 137px;
}
.inner-check-wrapper .RoutingDiv {
  bottom: 2.9em;
  left: 4.5em;
  width: 150px;
  background-color: #dcf1f6;
}
.inner-check-wrapper .CheckingAccountDiv {
  bottom: 2.9em;
  left: 16.2em;
  width: 185px;
  background-color: #dcf1f6;
}
.inner-check-wrapper .ConfirmAccountDiv {
  bottom: 2.9em;
  left: 32em;
  width: 160px;
  background-color: #dcf1f6;
}
.inner-check-wrapper > div input{
	width:100%;	
	background-color: transparent;
	border: 0 none;
}
.bank-auther-link .signature-checkbox{
	width:100%;
}
.bank-auther-link .signature-checkbox md-checkbox{
	margin: 0;
}
.bank-auther-link .signature-checkbox md-checkbox ._md-label{
	margin-left: 0;	
}
.bank-auther-link .signature-checkbox md-checkbox ._md-container{
	left: 105%;	
}
.mandatory-fields{
	position:relative;	
}
.mandatory-fields:after{
	position:absolute;
	content: '*';
    color: red;
    top: -0.5em;
    z-index: 10;
    left: 12px;
    font-size: 1.6em;
    font-family: Helvetica;
    font-weight: bold;	
}
select.form-control{
	background-image: url("../images/updown-arrow.gif");
    background-position: 97% center;
    background-repeat: no-repeat;
    position: relative;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;	
}
.regester-form{
	background-image: url("../images/form-background.png");
	background-repeat:repeat;	
}
.regester-form md-checkbox{
	margin:0;
}
.regester-form md-checkbox > ._md-label{
	margin-left:0;
}
.regester-form md-checkbox ._md-container{
	top: 15px;	
}
/* View Print Check  */
.view-print-check .form-group i.fa-calendar-check-o{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}
.view-print-check button.btn{
	float:right;	
}
/* End View Print Check  */

/* Setting  */
	.content-header .page-heading{
		margin-bottom: 20px;
	}
	.add-new-btn > a{
		color:#fff;
		width:100px;	
	}
	.content-header > .breadcrumb{
			
	}

/* End Setting  */


/*  End manoj edited css  */
@media only screen and (max-width:991px){
/* Subscriptions */
	.form-horizontal .AddSubscriptions .tab-text-left {
    	text-align: left;
	}
/* End Subscriptions */
}

@media only screen and (max-width:767px){
/* Bank Auther Link */
	.bank-auther-link .signature-checkbox > md-checkbox{
		text-align: left;	
	}
	.bank-auther-link .signature-checkbox md-checkbox ._md-container {
  		left: 150px;
	}
/* End Bank Auther Link */
}

/* Custom select */


