<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Permissions
      </h1>
      <ol class="breadcrumb">
        <li class="active">user-permission</li>
      </ol>
    </section>

    <!-- Main content -->
	<section class="content">
		  
		<div class="row">
			<div class="col-xs-12">
				<div class="">
					
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active" ng-class="">
							  <a href="javascript:void(0)" >Permissions</a>
							</li>
						</ul>
							
								<div class="col-md-12 tab-content" ng-controller="PermissionController as permission">
									<form class="form-horizontal" >
										<div class="box box-info" ng-if="(authenticated == true && authSuAdmin == true) || (authenticated == true && authScxAdmin == true)">
											<div >
												
												<div>
													<div class="box-header with-border">
														<h3 class="box-title">Permissions</h3>
													</div>
													<h4 class="box-header with-border">LINK</h4>
													<div class="box-header">
														 <p class="alert alert-success" ng-if="settings.permissionSuccess"><strong>Success:</strong> {{settings.permissionSuccessText}}</p>
														 <p class="alert alert-danger" ng-if="settings.permissionError"><strong>Error:</strong> {{settings.permissionErrorText}}</p>
													</div>
													<div class="box-body">
														
														<div class="form-group">
															
															<div  class="permission-wrapper" ng-repeat="setting in settings.default_settings">
																
																<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'LINK'"> 
																	<div class="col-sm-2" >
																		
																		<input  class="" type="checkbox" ng-model="settings.user_settings[setting.permission_name]"  ng-checked="settings.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
																	</div>
																	<label class="col-sm-6 text-left" >			{{setting.permission_label}}
																	</label>
																</div>
																
															</div>
															
														</div>
														
														
													</div>
													
													<h4 class="box-header with-border">Button</h4>
													<div class="box-body">
														<div class="form-group">
															<div class="permission-wrapper" ng-repeat="setting in settings.default_settings">
																
																<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'BUTTON'"> 
																	<div class="col-sm-2" >
																		
																		<input  class="" type="checkbox" ng-model="settings.user_settings[setting.permission_name]"  ng-checked="settings.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
																	</div>
																	<label class="col-sm-6 text-left" >			{{setting.permission_label}}
																	</label>
																</div>
															</div>
														</div>
													</div>
													<div class="box-footer col-sm-12">
														<div class="row">
															<div class="col-sm-offset-4 col-sm-6">
																<button class="btn btn-default" type="submit"  ng-click="getRouteHistory()">Cancel</button>
																<button class="btn btn-info" type="submit" ng-click="permissionSettings()">Submit</button>
															</div>
														</div>
													</div>
												</div>
											
										</div>
									</div>
									
									<form class="form-horizontal" >
									
										<div class="box box-info" ng-if="authenticated == true && authcompAdmin == true">
											<div>
												
												<div>
													<div class="box-header with-border">
														<h3 class="box-title">Permissions</h3>
													</div>
													<h4 class="box-header with-border">LINK</h4>
													<div class="box-header">
														 <p class="alert alert-success" ng-if="settings.permissionSuccess"><strong>Success:</strong> {{settings.permissionSuccessText}}</p>
														 <p class="alert alert-danger" ng-if="settings.permissionError"><strong>Error:</strong> {{settings.permissionErrorText}}</p>
													</div>
													<div class="box-body">
														
														<div class="form-group">
															
															<div  class="permission-wrapper" ng-repeat="setting in settings.default_settings">
																
																<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'LINK'"> 
																	<div class="col-sm-2" >
																		
																		<input  class="" type="checkbox" ng-model="settings.user_settings[setting.permission_name]"  ng-checked="settings.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
																	</div>
																	<label class="col-sm-6 text-left" >			{{setting.permission_label}}
																	</label>
																</div>
																
															</div>
															
														</div>
														
														
													</div>
													
													<h4 class="box-header with-border">Button</h4>
													<div class="box-body">
														<div class="form-group">
															<div class="permission-wrapper" ng-repeat="setting in settings.default_settings">
																
																<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'BUTTON'"> 
																	<div class="col-sm-2" >
																		
																		<input  class="" type="checkbox" ng-model="settings.user_settings[setting.permission_name]"  ng-checked="settings.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
																	</div>
																	<label class="col-sm-6 text-left" >			{{setting.permission_label}}
																	</label>
																</div>
															</div>
														</div>
													</div>
													<div class="box-footer col-sm-12">
														<div class="row">
															<div class="col-sm-offset-4 col-sm-6">
																<button class="btn btn-default" type="submit"  ng-click="getRouteHistory()">Cancel</button>
																<button class="btn btn-info" type="submit" ng-click="permissionSettings()">Submit</button>
															</div>
														</div>
													</div>
												</div>
											
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
</div>

