<!--<div class="col-sm-4 col-sm-offset-4">
	<div class="well">
		<h3>Login</h3>
		<form>
			<p class="alert alert-danger" ng-if="auth.loginError"><strong>Error:</strong> {{auth.loginErrorText}}</p>
			<div class="form-group">
		    	<input type="text" class="form-control" placeholder="Username" ng-model="auth.email">
		  	</div>
		  	<div class="form-group">
		    	<input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
		  	</div>
		  	<button class="btn btn-primary" ng-click="auth.login()">Submit</button>
		</form>
	</div>
</div>-->

<div class="login-box">
  <div class="login-logo">
    <a href="#/"><img src="assets/img/seamlesslogo.png" alt="Logo" class="" /></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body box box-info">
    <p class="login-box-msg">Sign in </p>
	<p class="alert alert-danger" ng-if="auth.loginError"><strong>Error:</strong> {{auth.loginErrorText}}</p>
    <form class="form-horizontal ng-pristine">
      <div class="form-group has-feedback">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" placeholder="Username" ng-model="auth.email">
			</div>
		</div>
      </div>
      <div class="form-group has-feedback">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
			</div>
		</div>
      </div>

		<div class="form-group">
			<div class="text-center col-sm-12">
			  <!--<button class="btn btn-primary">Reset</button>-->
				<button class="btn btn-primary btn-block btn-flat" ng-click="auth.login()">Login</button>
			</div>

		</div>

    </form>

    <a href="#/forget-password">Forget Password?</a><br>
    
  
  </div>
 
</div>
