  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->


  <div class="well">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Make A Payment To : {{check.companyadmin.name}}
      </h1>
     <!-- <ol class="breadcrumb">
        <li class="active">checkout</li>
      </ol>-->
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box">
				<div class="box-header">
				  	<h3 class="box-title"></h3>
				</div>
                
                <form role="form" class="ng-pristine ng-valid">
					<div class="box-body enter-Check checkout_to">
                    	<div class="form-group col-sm-6 col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-user"></i>
									<label for="inputName3">Name:</label>
								</div>
								<input type="text"  placeholder="Account Holder's Name:" class="form-control" ng-model="check_out.name" />
                               
							</div>
								<!-- /.input group -->
						</div>
                        <div class="form-group col-sm-4 col-md-4">
                             <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa  fa-dollar"></i>
                                    <label>Check Amount:</label>
                                </div>
                                
                                <input type="text" placeholder="Check Amount" class="form-control" ng-model="check_out.amount" ng-change="numberInWords(check_out.amount)" />
                            </div>
                         </div>
								<!-- /.from-group -->
                         <div class="form-group col-sm-4 col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-ticket"></i>
                                    <label>Check Number:</label>
                                </div>
                                
                                <input type="text" placeholder="Check Number" class="form-control" ng-model="check_out.check_number" />
                            </div>
                         </div>
                            <!-- /.from-group -->
                        <div class="form-group col-sm-6 col-md-6">
							<div class="input-group">
								 <div class="input-group-addon">
									<i class="fa fa-keyboard-o"></i>
									<label for="inputAddress3">Address:</label>
								</div>
                                <input type="text"  placeholder="Address:" class="form-control" ng-model="check_out.address">
							</div>
								<!-- /.input group -->
						</div>
						
                        
								
                        <div class="col-sm-6 col-md-6">
                        	<div class="row">
                            	<div class="form-group col-sm-4 col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-building"></i>
                                            <label for="inputCity3">City:</label>
                                        </div>
                                        <input type="text"  placeholder="City:" class="form-control" ng-model="check_out.city" />
                                    </div>
                                </div>
                                	<!-- /.from-group -->
                                <div class="form-group col-sm-4 col-md-4">
                                    <div class="input-group">
                                       <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                            <label for="inputState3">State:</label>
                                       </div>
                                        <input type="text"  placeholder="State:" class="form-control" maxlength="2" ng-model="check_out.state" />
                                    </div>
                                </div>
                                	<!-- /.from-group -->
                                <div class="form-group col-sm-4 col-md-4">
                                    <div class="input-group">
                                       <div class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                            <label for="inputPin3">Zip:</label>
                                        </div>
                                        <input type="text"  placeholder="Zip:" class="form-control" maxlength="5" ng-model="check_out.zip" />
                                    </div>
                                </div>
                                	<!-- /.from-group -->
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-12">
							<div class="row">
                                <div class="form-group col-sm-6 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                            <label for="inputEmail3">Email:</label>
                                        </div>
                                        <input type="text"  placeholder="Enter Your Email to Send Receipt (Optional)" class="form-control" ng-model="check_out.email" />
                                    </div>
                                        <!-- /.input group -->
                                </div>
                                
								 <div class="form-group col-sm-6 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label for="inputPay13">Description</label>
                                        </div>
                                        <input type="text"  placeholder="Description:" class="form-control" ng-model="check_out.memo1" />
                                    </div>
                                </div>
                                		<!-- /.from-group -->
                                <!--<div class="form-group col-sm-4 col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label for="inputPay13">Memo 2:</label>
                                        </div>
                                        <input type="text"  placeholder="Memo 2:" class="form-control" ng-model="check_out.memo2" />
                                    </div>
                                </div>-->
                                	<!-- /.from-group -->
							</div>
						</div>
                        
                        <div class="col-sm-12 col-md-12">
							<div class="row">
								<div class="form-group col-sm-4 col-md-4">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-ticket"></i>
											<label>Routing Number:</label>
										</div>
										
										<input type="text" placeholder="Routing #" class="form-control" maxlength="9" ng-change="routingNumberCheck()" ng-model="check_out.routing_number" ng-model-options="{ updateOn: 'blur' }">
									</div>
								 </div>
                                 		<!-- /.form group -->
								 <div class="form-group col-sm-4 col-md-4">
									 <div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user-secret"></i>
											<label>Account Number:</label>
										</div>
										
										<input type="text" placeholder="Account Number #" class="form-control" ng-model="check_out.account_number" />
									</div>
								 </div>
										<!-- /.form group -->
                                 <div class="form-group col-sm-4 col-md-4">
									 <div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user-secret"></i>
											<label>Confirm Account Number:</label>
										</div>
										
										<input type="text" placeholder="Confirm Account #" class="form-control" ng-model="check_out.confirm_account_number" />
									</div>
								 </div>
										<!-- /.form group -->
							</div>
						</div>
                        <div class="col-sm-12 col-md-12">
                            <div class="">
                                <button class="btn btn-primary pull-right" type="submit" ng-click="payCheck()">PAY</button>
                            </div>
                        </div>
                            
					</div>
                    		<!-- /.box body -->
                    </form>
                
               
                <div class="check-wrapper text-center Check-Out">
                	
                    <div class="inner-check-wrapper center-block">
                            <div class="UserNameDiv">
                                <input type="text" class="User_Name" disabled="disabled" value="{{check_out.name}}">
                            </div>
                            <div class="UserAddressDiv">
                                <input type="text" class="User_Address" disabled="disabled" value="{{check_out.address}}">
                            </div>
                            <div class="CityNameDiv">
                                <input type="text" class="City_Name" disabled="disabled" value="{{check_out.city}},&nbsp;{{check_out.state}},&nbsp;{{check_out.zip}}">
                            </div>
                            
                            <div class="UserPhoneDiv">
                                <input type="text" class="User_Address" disabled="disabled" value="{{check_out.phone_number}}">
                            </div>
                            <div class="CompanyNameDiv">
                                <input type="text" class="companyname" disabled="disabled" value="{{check.companyadmin.name}}">
                            </div>
                            <div class="DescriptionDiv">
                                <input type="text" class="Description" disabled="disabled" value="{{check_out.memo1}}">
                            </div>
                           
                            <div class="CheckNumberDiv">
                                <input type="text" class="check-number" disabled="disabled" value="{{check_out.check_number}}">
                            </div>
                            <div class="CheckAmountDiv">
                                <input type="text" class="check-amount" disabled="disabled" value="{{check_out.amount}}">
                            </div>
                            <div class="RoutingDiv">
                                <input type="text" class="check-routing" disabled="disabled" value="{{check_out.routing_number}}">
                            </div>
                            <div class="CheckingAccountDiv">
                                <input type="text" class="checking-account" disabled="disabled" value="{{check_out.account_number}}">
                            </div>
                            <div class="ConfirmAccountDiv">
                                <input type="text" class="confirm-account" disabled="disabled" value="{{check_out.confirm_account_number}}">
                            </div>
                            <div class="amountInWords">
                            	Pay Exactly {{amountWords}} Dollars And Cents ///////
                            </div>
                            <div class="EnterCheckDateDiv">
                                {{date | date:'MM/dd/yyyy'}}
                            </div>
                    </div>
                   
                </div>
                
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.row -->
    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
