  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
       Merchant User
      </h1>
      <div class="add-new-btn">
		 	<a class="btn btn-block btn-primary btn-width" ui-sref="company-user-new">Add a new merchant user</a>&nbsp; 
	  </div>
      <ol class="breadcrumb">
        <li class="active">merchant-users</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			 <flash-message duration="2000">
				</flash-message>
			  <div class="box box-primary">
			  <!--  <p class="alert alert-success" ng-if="companyuserSuccess"><strong>Success:</strong> {{companyuserSuccessText}}</p> -->
				<p class="alert alert-danger" ng-if="messagesettings.messagesettingsError"><strong>Error:</strong> {{messagesettings.messagesettingsErrorText}}</p>
				<div class="box-header">

				  <h3 class="box-title">Merchant User</h3>

				  <div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					  <!--<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

					  <div class="input-group-btn">
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
					  </div>-->
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
				   
					<div style="visibility: hidden">
					  <div class="md-dialog-container" id="myStaticDialog">
						<md-dialog>
						  This is a pre-rendered dialog.
						</md-dialog>
					  </div>
					</div>
				  <table class="table table-hover table-striped th-color">
					<tr>
					  <th>ID</th>
					  <th width="100">Action</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('name')">Team Member
						  <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>Access Type</th>
					  <th>&nbsp;</th>
					  <th>Account</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('invited_date')">Invite Date
						  <span class="sortorder" ng-show="propertyName === 'invited_date'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('status')"> Status
						  <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					</tr>
					<tr ng-repeat="user in companyuser.users | filter:searchText | orderBy:propertyName:reverse" ng-animate="'animate'">
					
					  <td>{{$index + 1}}</td>
					  <td>
						<a><span class="ghost" ng-click="ghostEnable(user.sc_token)"><i class="fa fa-user"><md-tooltip md-direction="top">Ghost Login</md-tooltip></i></span></a>&nbsp;
						<a ui-sref="user-permissions({ sc_token: user.sc_token })"><i class="fa fa-eye"><md-tooltip md-direction="top">Permission</md-tooltip></i></a>&nbsp;
					  </td>
					  <td>{{user.email}}</td>
					  <td>
					   <button  ng-if="user.status.status_code == 'active'" style="width: 8.5em; padding: 4px 0;" class="btn access label-success" ng-click="actionAccess(user.status.id, user.sc_token);" >Revoke Access</button>
					   <button  ng-if="user.status.status_code == 'pending'" style="width: 8.5em; padding: 4px 0;" class="btn access label-warning pending" ng-click="actionAccess(user.status.id, user.sc_token);">Invoke Access</button>
					   <!--<button  ng-if="user.status.status_code == 'inactive'" style="width: 8.5em; padding: 4px 0;" class="btn access label-warning" ng-click="actionAccess(user.status.id, user.sc_token);" >Invoke Access</button>-->
					  </td>
					  <td>
						<span  ng-if="user.user_settings.ADDCHECK == 'yes' && user.user_settings.VIEWCHECK == 'yes' && user.user_settings.PRINTCHECK == 'yes'">View, Print, and Enter Checks</span>
						<span  ng-if="user.user_settings.VIEWCHECK == 'yes' && user.user_settings.PRINTCHECK == 'yes' && user.user_settings.ADDCHECK == 'no'">View and Print Only</span>
					  </td>
					  <td>{{user.company_name}} </td>
					  <td>{{user.invited_date}} {{user.time}}</td>
					  <td>
						<span class="status-label {{user.status.status_code}}" style="background-color:{{user.status.color}}">
							<span  ng-if="user.status.status_code != 'pending'" >Invite Accepted</span>
							<span  ng-if="user.status.status_code == 'pending'"  >Pending (invite sent)</span>
							
						</span>
					  </td>
					  </tr>
					  <tr ng-if="companyuserMessage">
						<td colspan="7">{{companyuserMessageText}}</td>
					 </tr>
				  </table>
				  <span us-spinner=""></span>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
        
    </section>
    
	<!-- Footer Start-->
	<div class="main-footer" ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
