<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 ng-if="action === 'addCompanyAdmin'"> Add New Merchant </h1>
      <h1 ng-if="action === 'editCompanyAdmin'"> Edit Merchant </h1>
      <ol class="breadcrumb">
        <li class="active" ng-if="action === 'editCompanyAdmin'">company-edit</li>
        <li class="active" ng-if="action === 'addCompanyAdmin'">company-new</li>
      </ol>
	  <div ng-if="action === 'editCompanyAdmin'">
		<div class="add-new-btn merchant-top-buttons">
			<a class="btn btn-primary" ui-sref="company-sub-new({ mc_token:company.mc_token })"> Add a Business</a>
			<a class="btn btn-primary" ui-sref="company-user-new({ mc_token:company.mc_token })"> Invite Team Member</a>
		</div>
	</div>
	</section>

    <!-- Main content -->
	<section class="content">
		  
		<div class="row">
			<div class="col-xs-12">
				<div class="marchant-edit-new">
					
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
							  <a href="javascript:void(0)" ng-click="goToStep($index)"><span class="tabNumber"> </span><span class="tabName">{{step}}</span></a>
							</li>
						</ul>
						
						<div class="col-md-12 tab-content no-padding" >
						<span us-spinner></span>
							<form class="form-horizontal">
								<div class="box box-primary" style="margin-bottom: 0;">
									<div ng-switch on="selection">
										
										<!-- First -->
										<div ng-switch-when="Company Details" >
											<div class="box-header with-border">
												<h3 class="box-title">Company Details</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<div class="box-body">
												<div class="form-group checkbox col-sm-12" ng-if="action === 'editCompanyAdmin'">
													<label>
													<md-checkbox ng-model="company.STRIPE_UPDATE_EMAIL" aria-label="Stripe Update email" ng-init="" ng-true-value="'1'" ng-false-value="'0'">Stripe Update</md-checkbox>
													</label>
												</div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputBusinessName3">Business Name</label>
													<div class="col-sm-6">
														<input id="inputBusinessName3" class="form-control" type="text" placeholder="Business Name" ng-model="company.name"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Contact name</label>
													<div class="col-sm-6">
														<input id="inputContactName3" class="form-control" type="text" placeholder="Contact name" ng-model="company.cname"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Company email</label>
													<div class="col-sm-6">
														<input id="inputCompanyEmail3" class="form-control" type="text" placeholder="Company email" ng-model="company.email"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Password</label>
													<div class="col-sm-6">
														<input id="inputCompanyEmail3" class="form-control" type="password" placeholder="Password must be at least 8 characters" ng-model="company.password"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Website</label>
													<div class="col-sm-6">
														<input id="inputWebsite3" class="form-control" type="url" placeholder="Website name" ng-model="company.website" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Tax ID</label>
													<div class="col-sm-6">
														<input id="inputTaxID3" class="form-control" type="text" placeholder="Tax ID" ng-model="company.taxid"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Address</label>
													<div class="col-sm-6">
													  <input id="inputAddress3" class="form-control" type="text" placeholder="Address" ng-model="company.saddress"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">City</label>
													<div class="col-sm-6">
														<input id="inputCity3" class="form-control" type="text" placeholder="City" ng-model="company.city"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">State</label>
													<div class="col-sm-6">
														<input id="inputState3" class="form-control" type="text" placeholder="State" ng-model="company.state"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Zip</label>
													<div class="col-sm-6">
														<input id="inputZip3" class="form-control" type="text" placeholder="Zip" ng-model="company.zip"  />
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Business Type</label>
													<div class="col-sm-6">
														<select ng-model="company.business_type" class="form-control">
															<option value="">Industry Type</option>
															<option value="Auto">Auto</option>
															<option value="Collections">Collections</option>
															<option value="Computer Support">Computer Support</option>
															<option value="Finance">Finance</option>
															<option value="Insurance">Insurance</option>
															<option value="Legal">Legal</option>
															<option value="Manufacturing / Supplier">Manufacturing / Supplier</option>
															<option value="Medical">Medical</option>
															<option value="Moving / Transportation">Moving / Transportation</option>
															<option value="Professional Services">Professional Services</option>
															<option value="Real Estate">Real Estate</option>
															<option value="Web Development">Web Development</option>
															<option value="Other">Other</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Phone Number</label>
													<div class="col-sm-6">
														<input id="inputPhoneNumber3" class="form-control" type="text" placeholder="Phone Number" ng-model="company.phone"  value="{{company.phone}}" />
													</div>
												</div>
												
											</div>
											
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
														<div class="text-center col-sm-12">
															<button class="btn btn-default" type="submit">Cancel</button>
															<button class="btn btn-primary col-sm-offset-2 " type="submit" ng-click="companyDetails()" >Submit</button>
														</div>
												</div>
											</div>

										</div>

										<!-- Second -->
										<div ng-switch-when="Bank Details">
											<div class="box-header with-border">
												<h3 class="box-title">Bank Details</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<div class="box-body">
												<div class="form-group">
													<label class="col-sm-4 control-label" for="">Bank name</label>
													<div class="col-sm-3">
														<input id="inputBankname3" class="form-control" type="text" placeholder="Bank name" ng-model="company.bank_name"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-4 control-label" for="">Routing</label>
													<div class="col-sm-3">
													  <input id="inputRouting3" class="form-control" type="text" placeholder="Routing" ng-model="company.bank_routing"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-4 control-label" for="">Bank account number</label>
													<div class="col-sm-3">
														<input id="inputBankaccountnumber3" class="form-control" type="text" placeholder="Bank account number" ng-model="company.bank_account_no"   />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-4 control-label" for="">Authorised signer</label>
													<div class="col-sm-3">
														<input id="inputAuthorisedsigner3" class="form-control" type="text" placeholder="Authorised signer" ng-model="company.authorised_signer"   />
													</div>
												</div>
												
											</div>
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
													<div class="text-center">
														<button class="btn btn-default" type="submit">Cancel</button>
														<button class="btn btn-primary col-sm-offset-2" type="submit" ng-click="bankDetails()">Submit</button>
													</div>
												</div>
											</div>
										</div>

										<!-- Third -->
										<div ng-switch-when="Deposit Services" >
											<div class="box-header with-border">
												<h3 class="box-title">Fee Settings</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<div class="box-body">
												<div class="form-group col-md-6">
												  <label class="col-sm-6 control-label" for="inputCheckVerificationfee3">Check Verification fee</label>
												  <div class="col-sm-6" ng-if="company.fee.CHECK_VERIFICATION_FEE === '' || company.fee.CHECK_VERIFICATION_FEE === undefined">
													  <input id= "inputCheckVerificationfee3" class="form-control" type="text" placeholder="Check Verification fee" ng-model="company.fee.CHECK_VERIFICATION_FEE" />
												  </div>
												  <div class="col-sm-6" ng-if="company.fee.CHECK_VERIFICATION_FEE !== '' || company.fee.CHECK_VERIFICATION_FEE !== undefined">
													  <input id= "inputCheckVerificationfee3" class="form-control" type="text" placeholder="Check Verification fee" ng-model="company.fee.CHECK_VERIFICATION_FEE"   />
												  </div>
												</div>
												<div class="form-group col-md-6">
													<label class="col-sm-6 control-label" for="inputCheckVerificationfeep3">Check Processing fee(%)</label>
													<div class="col-sm-6">
														<input id="inputCheckProcessingfee(%)" class="form-control" type="text" placeholder="Check Processing fee(%)" ng-model="company.fee.CHECK_PROCESSING_FEE"   />
													</div>
												</div>
												<div class="form-group col-md-6">
													<label class="col-sm-6 control-label" for="inputPerCheckfee3">Per Check fee</label>
													<div class="col-sm-6">
														<input id="inputPerCheckfee3" class="form-control" type="text" placeholder="Per Check fee" ng-model="company.fee.PER_CHECK_FEE"   />
													</div>
												</div>
												<div class="form-group col-md-6">
													<label class="col-sm-6 control-label" for="inputDailyDepositFee3">Daily Deposit Fee</label>
													<div class="col-sm-6">
														<input id="" class="form-control" type="text" placeholder="Daily Deposit Fee" ng-model="company.fee.DAILY_DEPOSIT_FEE"   />
													</div>
												</div>
												
											</div>
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
													<div class="text-center">
														<button class="btn btn-default" style="margin-right: 8em;" type="submit">Cancel</button>
														<button class="btn btn-primary" type="submit" ng-click="feeSettings()">Submit</button>
													</div>
												</div>
											</div>
											<div class="box box-primary pull-left" style="margin-bottom: 0;">
												<div class="box-header with-border">
													<h3 class="box-title">Processing Cutoff</h3>
												</div>
												<div class="box-header">
													 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
													 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
												</div>
												<div class="box-body">
													
												<div class="row">
												   <div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputMonday3">Monday</label>
												   </div>
												   
												   <div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input ui-timepicker="options" class="form-control" ng-model="company.time.monday" value="{{company.batch_settings.monday_time}}">
														</div>
												   </div>
												   <div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
														<select ng-init="company.batch_settings.monday_timezone=company.batch_settings.monday_timezone || 'EST'"  ng-model="company.batch_settings.monday_timezone" class="form-control">
															<option   ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
														</select>
														</div>
												   </div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputTuesday3">Tuesday</label>
													<div class="col-sm-8">
													 
													</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input ui-timepicker="options"  class="form-control"  ng-model="company.time.tuesday" value="{{company.batch_settings.tuesday_time}}">
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
															<select  ng-init="company.batch_settings.tuesday_timezone=company.batch_settings.tuesday_timezone || 'EST'" ng-model="company.batch_settings.tuesday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputWednesday3">Wednesday</label>
														<div class="col-sm-8">
														 
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input  class="form-control"  ui-timepicker="options" ng-model="company.time.wednesday" value="{{company.batch_settings.wednesday_time}}">
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
															<select ng-init="company.batch_settings.wednesday_timezone=company.batch_settings.wednesday_timezone || 'EST'" ng-model="company.batch_settings.wednesday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
															</select>
															
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputThursday3">Thursday</label>
														<div class="col-sm-8">

														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input class="form-control"  ui-timepicker="options" ng-model="company.time.thursday" value="{{company.batch_settings.thursday_time}}">
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
															<select ng-init="company.batch_settings.thursday_timezone=company.batch_settings.thursday_timezone || 'EST'" ng-model="company.batch_settings.thursday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputFriday3">Friday</label>
														<div class="col-sm-8">

														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input class="form-control"  ui-timepicker="options" ng-model="company.time.friday" value="{{company.batch_settings.friday_time}}">
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
															<select ng-init="company.batch_settings.friday_timezone=company.batch_settings.friday_timezone || 'EST'" ng-model="company.batch_settings.friday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputSaturday3">Saturday</label>
														<div class="col-sm-8">

														</div>
													</div>
												<div class="form-group col-xs-12 col-sm-6 col-md-4">
													<label class="col-sm-2 control-label" for="inputTime3">Time</label>
													<div class="col-sm-8">
														<input class="form-control"  ui-timepicker="options" ng-model="company.time.saturday" value="{{company.batch_settings.saturday_time}}">

													</div>
												</div>
												<div class="form-group col-xs-12 col-sm-6 col-md-4">
													<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
													<div class="col-sm-8">
														<select ng-init="company.batch_settings.saturday_timezone=company.batch_settings.saturday_timezone || 'EST'" ng-model="company.batch_settings.saturday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
														</select>
													</div>
												</div>
												</div>
												<div class="row">
													<div class="form-group col-xs-12 col-sm-6 col-md-2">
														<label class="col-sm-2 control-label" for="inputSunday3">Sunday</label>
														<div class="col-sm-8">

														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-2 control-label" for="inputTime3">Time</label>
														<div class="col-sm-8">
															<input ui-timepicker="options" class="form-control" ng-model="company.time.sunday" value="{{company.batch_settings.sunday_time}}">
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-sm-4 control-label" for="inputTimeZone3">Time Zone</label>
														<div class="col-sm-8">
															<select ng-init="company.batch_settings.sunday_timezone=company.batch_settings.sunday_timezone || 'EST'" ng-model="company.batch_settings.sunday_timezone" class="form-control">
																<option  ng-repeat="zone in timeZone" value="{{zone}}">{{zone}}</option>
															</select>
														</div>
													</div>
												</div>
												</div>
												<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
													<div class="row">
														<div class="text-center">
															<button class="btn btn-default"  type="submit">Cancel</button>
															<button class="btn btn-primary col-xs-offset-2" type="submit" ng-click="batchSettings()">Submit</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Four -->
										<div ng-switch-when="Plan Details" >
											<div class="box-header with-border">
												<h3 class="box-title">Plan Details</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<div class="checkbox col-xs-12 col-sm-6 col-md-3" ng-if="action === 'editCompanyAdmin'">
												<label>
												<md-checkbox ng-model="company.company_settings.STRIPE_UPDATE" aria-label="Stripe Update" ng-init="" ng-true-value="'1'" ng-false-value="'0'">Stripe Update</md-checkbox>
												</label>
											</div>
											<div class="box-body">{{company.stripe_plan}}
												<h3 class="box-title" ng-if="!company.stripe_plan">{{company.stripe_plan}} - {{company.status.status_name}}</h3>
											<div class="form-horizontal">
												<div class="form-group">
												<div class="row">
													
													<div class="form-group col-xs-12 col-sm-6 col-md-7" ng-if="company.all_plan">
														<label class="col-xs-12 col-sm-6 col-md-5 control-label" for="selectPlanType3">Plan Type</label>
														<div class="col-xs-12 col-sm-6 col-md-7" >
															<select ng-model="company.stripe_plan" class="form-control" ng-change="getPlanDetailsSettings();">
																	<option value="">Select Plan</option>
																	<option ng-selected="{{plan.plan_id == company.stripe_plan}}" ng-repeat="plan in company.all_plan" value="{{plan.plan_id}}">{{plan.plan_name}} (${{plan.amount}})</option>
															  </select>
														</div>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4" ng-if="company.all_plan">
														<label class="col-xs-12 col-sm-6 col-md-4 control-label" for="inputTrial3">Status</label>
														<div class="col-xs-12 col-sm-6 col-md-8">
															<select ng-model="company.status.status_code" class="form-control">
																<option value="">- Select Status -</option>
																<option ng-selected="status === company.status.status_code" ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
															</select>
														</div>
													</div>
												</div>
												</div>
												<div class="form-group check-box-group">
													 <!--{{company.company_settings}}-->
													
													<div class="row">
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
																<md-checkbox ng-model="company.company_settings.BASICVERFICATIONS" aria-label="Fund Confirmation" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" >Basic Verification</md-checkbox>
															</label>
														</div>
														
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTotalChecks3">Total Basic Verification</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTotalChecks3" class="form-control" type="text" placeholder="Total Checks" ng-model="company.company_settings.TOTALNOCHECK"   />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputRemaining3">Remaining Basic Verification</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputRemaining3" class="form-control" type="text" placeholder="Remaining Checks" ng-model="company.company_settings.NOOFCHECKREMAINING"   />
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-3">
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4" ng-if="action === 'editCompanyAdmin'">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTrial3">Trial Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTrial3" class="form-control" type="text" placeholder="Trial" ng-model="company.trial_ends_at" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30"  />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4" ng-if="action === 'editCompanyAdmin'">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputSubscriptionEnd3">Subscription End Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputSubscriptionEnd3" class="form-control" type="text" placeholder="Subscription End" ng-model="company.subscription_ends_at" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30"  />
															</div>
														</div>
													</div>
													<div class="row">
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
																<md-checkbox ng-model="company.company_settings.FUNDCONFIRMATION" aria-label="Fund Confirmation" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" >Fund Confirmation</md-checkbox>
															</label>
														</div>
														
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTFC3">Total Fund Confirmation</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTrial3" class="form-control" type="text" placeholder="Total Fund Confirmation" ng-model="company.company_settings.TOTALFUNDCONFIRMATION"   />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputRFC3">Remaining Fund Confirmation</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputRFC3" class="form-control" type="text" placeholder="Remaining Fund Confirmation" ng-model="company.company_settings.REMAININGFUNDCONFIRMATION"   />
															</div>
														</div>
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputFundStartDate3">Start Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputFundStartDate3" class="form-control" type="text" placeholder="DD/MM/YY" ng-model="company.company_settings.FUNDCONFIRMATION_START_DATE"  ng-readonly="true" />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputFundEndDate3">End Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputFundEndDate3" class="form-control" type="text" placeholder="DD/MM/YY" ng-model="company.company_settings.FUNDCONFIRMATION_END_DATE"  ng-readonly="true" />
															</div>
														</div>
													</div>
													<div class="row">
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
																<md-checkbox ng-model="company.company_settings.BANKAUTHLINK" aria-label="Bank Auth Link" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" >Bank Auth Link</md-checkbox>
															</label>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTPAuth3">Total Bank Pay Auth</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTPAuth3" class="form-control" type="text" placeholder="Total Bank Pay Auth" ng-model="company.company_settings.TOTALPAYAUTH"   />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputPAuthR3">Remaining Bank Pay Auth</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputPAuthR3" class="form-control" type="text" placeholder="Remaining Bank Pay Auth" ng-model="company.company_settings.PAYAUTHREMAINING"   />
															</div>
														</div>
														<div class="checkbox col-xs-12 col-sm-6 col-md-3"></div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputBankAuthStartDate3">Start Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputBankAuthStartDate3" class="form-control" type="text" placeholder="DD/MM/YY" ng-model="company.company_settings.BANKAUTHLINK_START_DATE" ng-readonly="true"  />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputBankAuthEndDate3">End Date</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputBankAuthEndDate3" class="form-control" type="text" placeholder="DD/MM/YY" ng-model="company.company_settings.BANKAUTHLINK_END_DATE"  ng-readonly="true" />
															</div>
														</div>
													</div>
													<div class="row">
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
															<md-checkbox ng-model="company.company_settings.SIGNTURE" aria-label="Signture" ng-init="" ng-true-value="'yes'" ng-false-value="'no'">Signture</md-checkbox>
															</label>
														</div>
														
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
																<md-checkbox ng-model="company.company_settings.CHECKOUTLINK" aria-label="Checkout Link" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" >Payment Link</md-checkbox>
															</label>
														</div>
														
													</div>
													<div class="row">
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label>
																<md-checkbox ng-model="company.company_settings.COMPANY" aria-label="Company" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" >Business</md-checkbox>
															</label>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTotalUser3">Total Number of User</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTotalUser3" class="form-control" type="text" placeholder="Number of User" ng-model="company.company_settings.TOTAL_USER"   />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputRemainingUser3">Remaining User</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputRemainingUser3" class="form-control" type="text" placeholder="Remaining User" ng-model="company.company_settings.REMAINING_USER"   />
															</div>
														</div>
														<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label></label>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputTotalUser3">Total Number of Business</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputTotalCompany3" class="form-control" type="text" placeholder="Number of Company" ng-model="company.company_settings.TOTAL_COMPANY"   />
															</div>
														</div>
														<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputRemainingCompany3">Remaining Business</label>
															<div class="col-xs-12 col-sm-6 col-md-5">
																<input id="inputRemainingCompany3" class="form-control" type="text" placeholder="Remaining Company" ng-model="company.company_settings.REMAINING_COMPANY"   />
															</div>
														</div>
													</div>
													
												</div>
													<!-- .form-group -->
												<div class="form-group">
												<div class="row">
													<div class="checkbox col-xs-12 col-sm-6 col-md-3">
															<label></label>
													</div>
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
															<label></label>
													</div>													
													
													<div class="form-group col-xs-12 col-sm-6 col-md-4">
														<label class="col-xs-12 col-sm-6 col-md-7 control-label row-no-padding" for="inputCheckMonthlyFee3">Monthly Fee</label>
														<div class="col-xs-12 col-sm-6 col-md-5">
															<input id="inputCheckMonthlyFee3" class="form-control" type="text" placeholder="FundConfirmation Fee" ng-model="company.fee.MONTHLY_FEE"   />
														</div>
													</div>
												</div>
												</div>
											</div>
												<!-- .box-body -->
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
													<div class="text-center">
														<button class="btn btn-default" type="submit" >Cancel</button>
														<button class="btn btn-primary col-xs-offset-2" type="submit" ng-click="planDetails()">Submit</button>
													</div>
												</div>
											</div>
											</div>
										</div>
										<div ng-switch-when="Multiple Subscription" >
											<div class="box-header with-border">
												<h3 class="box-title">Subscription</h3>
											</div>
											
											<div class="box-body" ng-controller="UserProfileController as userProfile">
												<div class="box-header">
													 <p class="alert alert-success" ng-if="companySaveSubscriptionSuccess"><strong>Success:</strong> {{companySaveSubscriptionSuccessText}}</p>
													<p class="alert alert-danger" ng-if="companySaveSubscriptionError"><strong>Error:</strong> {{companySaveSubscriptionErrorText}}</p>
												</div>
												<div class="form-group " >
													
													<md-radio-group ng-model="company_settings.subscription">
														<div class="col-sm-3 radio-top-margin" ng-repeat="sub_type in subscription_type">
															  <md-radio-button value="{{sub_type}}"  class="md-primary">{{sub_type}}</md-radio-button>
														</div>
														
													</md-radio-group>
												</div>
												<div class="form-group col-xs-12 col-md-12" ng-if="company.all_plan && company_settings.subscription">
													<div class="input-group col-md-6 pull-left">
														<div class="input-group-addon">
															<label class="control-label col-md-2"  for="selectPlanType3" style="margin: 0; padding-top: 0;">Plan</label>
														</div>
														<select ng-model="company.stripe_plan_multiple" class="form-control" >
																<option value="">Select Plan</option>
																<option ng-repeat="plan in company.all_plan | filter: {plan_name: company_settings.subscription}" value="{{plan.plan_id}}">{{plan.plan_name}} (${{plan.amount}})</option>
														 </select>
													</div>
													<div class=" col-sm-6 ng-scope">
														<div class="">
															<div class="form-group">
																<label class="col-xs-12 col-sm-12 col-md-5 control-label tab-text-left" for=""></label>
																<div class="col-xs-12 col-sm-12 col-md-7 text-right">
																	
																	<button class="btn btn-primary" type="submit" ng-click="saveMultipleSubscription()" ng-if="action === 'editCompanyAdmin'">Save</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="box-body table-responsive no-padding">
													<div style="visibility: hidden">
													  <div class="md-dialog-container" id="myStaticDialog">
														<md-dialog>
														  This is a pre-rendered dialog.
														</md-dialog>
													  </div>
													</div>
													<p class="alert alert-success" ng-if="companysubscriptionsSuccess"><strong>Success:</strong> {{companysubscriptionsSuccessText}}</p>
													<p class="alert alert-danger" ng-if="companysubscriptionsError"><strong>Error:</strong> {{companysubscriptionsErrorText}}</p>
													  <table class="table table-hover table-striped th-color">
														<tr>
														  <th>ID</th>
														  <th>Action</th>
														  <th>Subscriptions </th>
														  <th>Amount</th>
														  <th>Start Date </th>
														  <th>End date </th>
														</tr>
														<tr ng-repeat="subscription in subscriptions">
															  <td>{{$index + 1}}</td>
															  <td>
																<a><span ng-click="cancelSubscriptions($event, subscription.stripe_subscription, subscription.company_admin, subscription.stripe_plan_type, $index)"><i class="fa fa-close"></i></span></a>&nbsp;
															  </td>
															  <td>{{subscription.stripe_plan_type}}</td>
															  <td>{{subscription.amount}}</td>
															  <td>{{subscription.subscription_starts_at}}</td>
															  <td>{{subscription.subscription_ends_at}}</td>
														  </tr>
														  <tr ng-if="companysubscriptionsMessage">
															<td colspan="3">{{companysubscriptionsMessageText}}</td>
														 </tr>
													  </table>
													  
												</div>
											</div>
											<div class="items_wrap">
												<div class="box box-primary" style="margin-bottom: 0;">
													<div class="box-header with-border">
														<h3 class="box-title">Adjust Subscription</h3>
													</div>
													<div class="box-header">
														 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
														 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
													</div>
												
												<form class="">
													<div class="box-body">
														<div class="form-group col-sm-12 col-md-6" >
															<div class="input-group">
																<div class="input-group-addon">
																	<label class="control-label col-md-2" for="" style="margin: 0; padding-top: 0;">Plan</label>
																</div>
																<select ng-model="company.stripe_plan" class="form-control" >
																		<option value="">Select Plan</option>
																		<option ng-selected="{{plan.plan_id == company.stripe_plan}}" ng-repeat="plan in company.all_plan" value="{{plan.plan_id}}">{{plan.plan_name}} (${{plan.amount}})</option>
																  </select>
															</div>
														</div>
															<!--	//	End form-group	-->
														<div class="form-group col-md-6 no-padding" ng-if="company.status.status_code === 'active'">
															<div class="row">
																<div class="text-right col-sm-12">
																	<button class="btn btn-primary" type="submit" ng-click="updateSubscriptionNow()">Update</button>
																</div>
															</div>
														</div>
														
														<div class="form-group col-md-6 no-padding" ng-if="company.status.status_code === 'trialing'">
															<div class="row">
																<div class="text-right col-sm-12">
																	<button class="btn btn-primary" type="submit" ng-click="activateSubscriptionNow()">Activate Now</button>
																</div>
															</div>
														</div>
													</div>
												</form>
													<!--	//	End form	-->
												</div>
												<!--	//	End box-primary	-->
											</div>
										</div>
										<!-- Five -->
										<div ng-switch-when="Credit Card" >
											<div class="box-header with-border">
												<h3 class="box-title">Credit Card</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<div class="box-body">
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Card Number</label>
													<div class="col-sm-4" ng-model="company" validate-card>
													  <input id="inputcardNumber3" class="form-control" type="text" placeholder="Card Number" ng-model="company.number" ng-change="checkEmpty(company)" format-card   />
													  <div id="card-images" class="card-images {{company.type}}"></div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Month</label>
													<div class="col-sm-2">
													  <input id="inputMonth3" class="form-control" type="text" placeholder="MM" ng-model="company.exp_month" size="2" maxlength="2" />
													  
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">Year</label>
													<div class="col-sm-2">
													  <input id="inputYear3" class="form-control" type="text" placeholder="YYYY" ng-model="company.exp_year" size="4" maxlength="4"  />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="">CVC</label>
													<div class="col-sm-2">
													  <input id="inputCvc3" class="form-control" type="text" placeholder="CVC" ng-model="company.cvc" maxlength="10" size="4"  />
													</div>
												</div>
												
											</div>
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
													<div class="text-center">
														<button class="btn btn-default" type="submit">Cancel</button>
														<button class="btn btn-primary col-xs-offset-2" type="submit" ng-click="creditCardDetails()">Submit</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Six -->
										<div ng-switch-when="Permissions" >
											<div class="box-header with-border">
												<h3 class="box-title">Permissions</h3>
											</div>
											<div class="box-header">
												 <p class="alert alert-success" ng-if="companySuccess"><strong>Success:</strong> {{companySuccessText}}</p>
												 <p class="alert alert-danger" ng-if="companyError"><strong>Error:</strong> {{companyErrorText}}</p>
											</div>
											<h4 class="box-header with-border">Company Check Permissions - LINK</h4>
											<div class="box-body">
												<div class="form-group">
													 
													<div  class="permission-wrapper" ng-repeat="setting in company.default_settings">
														
														<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'LINK'"> 
															<div class="col-sm-2" >
																
																<input  class="" type="checkbox" ng-model="company.settings[setting.permission_name]"  ng-checked="company.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
															</div>
															<label class="col-sm-6 text-left" >			{{setting.permission_label}}
															</label>
														</div>
														
													</div>
													
													<!--{{company.settings}}-->
													
												</div>
												
												
											</div>
											
											<h4 class="box-header with-border">Company Check Permissions - Button</h4>
											<div class="box-body">
												<div class="form-group">
													<div class="permission-wrapper" ng-repeat="setting in company.default_settings">
														
														<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'BUTTON'"> 
															<div class="col-sm-2" >
																
																<input  class="" type="checkbox" ng-model="company.settings[setting.permission_name]"  ng-checked="company.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
															</div>
															<label class="col-sm-6 text-left" >			{{setting.permission_label}}
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="box-footer col-sm-12" ng-if="action === 'editCompanyAdmin'">
												<div class="row">
													<div class="text-center">
														<button class="btn btn-default" type="submit">Cancel</button>
														<button class="btn btn-primary col-xs-offset-2" type="submit" ng-click="permissionSettings()">Submit</button>
													</div>
												</div>
											</div>
											
										</div>
										<!-- Seven Step -->
										
										<div class="box-footer col-sm-12" ng-if="action === 'addCompanyAdmin'">
											<div class="row">
												<div class="col-sm-offset-4 col-sm-7">
													
													<button class="btn btn-default" ng-click="decrementStep()" ng-class="{disabled: !hasPreviousStep()}" type="submit">Previous</button>
													<!--<button class="btn btn-default" type="submit">Skip</button>-->
													<button class="btn btn-default col-xs-offset-4" ng-click="incrementStep()" type="submit" ng-class="{disabled: !hasNextStep()}" >Next</button>
													<button  class="btn btn-primary pull-right" type="submit" ng-switch-when="Permissions" ng-click="createCompany()">Submit</button>
													
												</div>
											</div>
										</div>
										
											<!-- .box-footer -->
									</div>
								</div>
									<!-- .box -->
							</form>
						</div>
                                	<!-- .tab-content -->
						</div>
                        	<!-- .nav-tabs-custom -->
					</div>
				</div>
			</div>
            	<!-- .row -->
           </section>
           
           <!-- Footer Start-->
			<div class="main-footer" ng-include="'views/common/footer.html'"></div>
			<!-- Footer End-->
		</div>
        	<!-- .content-wrapper -->
    
	



