  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
        Merchants
      </h1>
      <div class="add-new-btn">
		 	<a class="btn btn-primary" ui-sref="company-new">Add new</a>&nbsp;
			<a class="btn btn-primary" ng-click="exportCustomer();">Export</a>
	  </div>
	  
      <ol class="breadcrumb">
        <li class="active">Companies</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box">
				<div class="box-header">
				  <h3 class="box-title">Companies</h3>

				  <!--<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
					  <form name="autocompleteForm">
						  <md-autocomplete 
								md-selected-item="selectedItem"
								md-search-text="searchText"
								md-items="item in companyuser.users | filter:searchText"
								md-item-text="item.name"
								md-delay="300"
								md-floating-label="Search">
							  <div layout="row" class="item" layout-align="start center">
								
								&nbsp;&nbsp;	
								<span md-highlight-text="searchText">
									{{item.name}}
								</span>
							  </div>
							
							</md-autocomplete>
							
						</form>
						
					</div>
				  </div>-->
				  <div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
					  <input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<div style="visibility: hidden">
					  <div class="md-dialog-container" id="myStaticDialogComapny">
						<md-dialog>
						  This is a pre-rendered dialog.
						</md-dialog>
					  </div>
					</div>
					
				  <table class="table table-hover table-striped" ng-if="companyuser.users" >
					<tr>
					  <th>ID</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('name')">
							Company name
							<span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
						<!--<span ng-show="orderByField == 'name'"><span ng-show="!reverseSort" class="drop-up"></span><span ng-show="reverseSort" class="drop-down"></span></span>-->
						</a>
					   </th>
					  <th>
						  <a href="javascript:void(0);" ng-click="sortBy('email')">Company admin 
						  <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
						  <!--<span class="drop-defult"></span>-->
						  </a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('business_type')">
						Industry
						<span class="sortorder" ng-show="propertyName === 'business_type'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('created_at')">Signup date 
						<span class="sortorder" ng-show="propertyName === 'created_at'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('lastloggedin_at')">Last Login 
						<span class="sortorder" ng-show="propertyName === 'lastloggedin_at'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('stripe_plan')">Plan
						<span class="sortorder" ng-show="propertyName === 'stripe_plan'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('last_invoice_at')">Last Invoice
						<span class="sortorder" ng-show="propertyName === 'last_invoice_at'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('status_name')">Status
						<span class="sortorder" ng-show="propertyName === 'status_name'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>BV</th>
					  <th>FC</th>
					  <th>BA</th>
					  <th>Action</th>
					</tr>
					
					<tr ng-repeat="user in companyuser.users | filter:searchText | orderBy:propertyName:reverse" ng-animate="'animate'">
					  <td>{{$index + 1}}</td>
					  <td>{{user.name}}</td>
					  <td>{{user.email}}</td>
					  <td>{{user.business_type}}</td>
					  <td>{{user.created_at}}</td>
					  <td>{{user.lastloggedin_at}}</td>
					  <!--<td>{{user.stripe_plan}} (${{user.amount}})</td>-->
					  <td>{{user.stripe_plan}}</td>
					  <td>{{user.last_invoice_at}}</td>
					  <td>
						<span class="status-label {{user.status.status_code}}" style="background-color:{{user.status.color}}">
							{{user.status.status_name}}
						</span>
					  </td>
					  
					  <td width="100">
						<div class="remaining-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.NOOFCHECKREMAINING}}</span>
						 </div>
						 <div class="dividBar pull-left">/</div>
						 <div class="total-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.TOTALNOCHECK}}</span>
						 </div>
					  </td>
					  <td width="100">
						<div class="remaining-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.REMAININGFUNDCONFIRMATION}}</span>
						 </div>
						 <div class="dividBar pull-left">/</div>
						 <div class="total-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.TOTALFUNDCONFIRMATION}}</span>
						 </div>
					  </td>
					  <td width="100">
						<div class="remaining-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.PAYAUTHREMAINING}}</span>
						 </div>
						 <div class="dividBar pull-left">/</div>
						 <div class="total-av  pull-left">
						  <span ng-if="user.company_settings === false">0</span>
						  <span ng-if="user.company_settings !== false">{{user.company_settings.TOTALPAYAUTH}}</span>
						 </div>
					  </td>
					  <td>
						<a ui-sref="company-edit({ sc_token: user.sc_token })" ><i class="fa fa-edit"><md-tooltip md-direction="top">Edit</md-tooltip></i></a> &nbsp;
						<a><span class="ghost" ng-click="ghostEnable(user.sc_token)" ><i class="fa fa-user"><md-tooltip md-direction="top">Ghost Login</md-tooltip></i></span></a>&nbsp;
						<a><span class="delete" ng-click="deleteCompany($event, user.sc_token)"><i class="fa fa-close"><md-tooltip md-direction="top">Delete</md-tooltip></i></a></span></a>&nbsp;
						<a ui-sref="user-permissions({ sc_token: user.sc_token })"><i class="fa fa-eye"><md-tooltip md-direction="top">Permission</md-tooltip></i></a>&nbsp;
					  </td>
					</tr>
					
				  </table>
				 
				  <span us-spinner></span>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
     

    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
