<!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Payment Link
      </h1>
      <ol class="breadcrumb">
        <li class="active">create-payment</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Create Payment Link</h3>
				</div>
				<div class="box-header">
					 <p class="alert alert-danger" ng-if="paymentLinkError"><strong>Error:</strong> {{paymentLinkErrorText}}</p>
				 </div>
                <form class="form-horizontal" role="form">
                 	<div class="box-body bank-auther-link">
                    	<div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Pay to the Order of</label>
                            <div class="col-xs-12 col-sm-4 col-md-3">
								 <select class="form-control" ng-model="paymentLink.company_admin" ng-options="company.name for company in companyadmin track by company.id"></select>
                            </div>
                        </div>
                        	<!-- / .form-group -->
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Enter $ amount </label>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <input id="" class="form-control" type="text" placeholder="Enter Amount (optional)" ng-model="paymentLink.amount">
                            </div>
                        </div>
                        	<!-- / .form-group -->
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Enter Transaction Fee </label>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <input class="form-control" type="text" placeholder="Transaction Fee (optional)" ng-model="paymentLink.transactionFee">
                            </div>
                        </div>
                        	<!-- / .form-group -->
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Memo</label>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <input id="" class="form-control" type="text" placeholder="Enter Memo (optional)" ng-model="paymentLink.memo">
                            </div>
                        </div>
                        	<!-- / .form-group -->
                        <div class="form-group">
                        	<label class="signature-checkbox">
                                <md-checkbox ng-model="paymentLink.BASICVERIFICATION" aria-label="Basic Verification" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" role="checkbox" class="ng-valid md-checked ng-not-empty ng-dirty ng-valid-parse ng-touched col-xs-12 col-sm-5 col-md-4 text-right" tabindex="0" aria-checked="true" aria-invalid="false" style="">
                                    <div class="_md-label"><span class="ng-scope">Basic Verification</span></div>
                                    
                                </md-checkbox>
                            </label>
                        </div>
						<div class="form-group">
                        	<label class="signature-checkbox">
                                <md-checkbox ng-model="paymentLink.FUNDCONFIRMATION" aria-label="Fundconfirmation" ng-true-value="'yes'" ng-false-value="'no'" role="checkbox" class="ng-valid md-checked ng-not-empty ng-dirty ng-valid-parse ng-touched col-xs-12 col-sm-5 col-md-4 text-right">
                                    <div class="_md-label"><span class="ng-scope">Fund Confirmation</span></div>
                                    
                                </md-checkbox>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="signature-checkbox">
                                <md-checkbox ng-model="paymentLink.SIGNATURE" aria-label="Require Signature" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" role="checkbox" class="ng-valid md-checked ng-not-empty ng-dirty ng-valid-parse ng-touched col-xs-12 col-sm-5 col-md-4 text-right" tabindex="0" aria-checked="true" aria-invalid="false" style="">
                                    <div class="_md-label"><span class="ng-scope">Require Signature</span></div>
                                    
                                </md-checkbox>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Thank You Page Redirect URL</label>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <input id="" class="form-control" type="text" placeholder="Enter Redirect URL (optional)" ng-model="paymentLink.thank_you_url">
                            </div>
                        </div>
                        	<!-- / .form-group -->
                    	
                        <div class="">
                        	<div class="form-group">
                                <label class="col-xs-12 col-sm-5 col-md-4 control-label" for=""></label>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <button type="submit" class="btn btn-primary" ng-click="generateCheckoutLink()">Create Payment Link</button>
                                </div>
                            </div>
                        	<div class="form-group">
                                <label class="col-xs-12 col-sm-5 col-md-4 control-label" for="">Copy and paste payment link and send to customer via email or embed into your website </label>
                                <div class="col-xs-9 col-sm-5 col-md-6">
                                    <input id="generateUrl" class="form-control" type="text" placeholder="" ng-model="paymentLink.payLinkUrl" ng-click="selectAllContent($event)" disabled="disabled">
                                </div>
                                <button ng-model="copyButton" clipboard supported="supported" text="paymentLink.payLinkUrl" on-copied="success()" on-error="fail(err)" class="btn btn-primary">{{copyButton}}</button>
                            </div>
                        	<!-- / .form-group -->
                        </div>
                    </div>
                    	<!-- / .box-body -->
                 </form>
                 
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

