<div class="login-box set-password" style="min-height:400px;">
	<div class="login-logo">
		<a href="#/"><img src="assets/img/seamlesslogo.png" alt="Logo" class="" /></a>
	 </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body box box-info" >
		<h3 class="login-box-msg">Forgot Password </h3>
		<p class="alert alert-danger" ng-if="forgetpassFormError"><strong>Error:</strong> {{forgetpassFormErrorText}}</p>
		<p class="alert alert-success" ng-if="forgetpassSuccess"><strong>Success:</strong> {{forgetpassSuccessText}}</p>
		<form name="forgetpassword" autocomplete="off" class="form-horizontal ng-pristine">
			 
			  <div class="form-group has-feedback">
				<div class="col-sm-12">
					<div class="input-group">
						<input type="text" placeholder="Please enter email" name="email" 
						ng-model="forgetpass.email"  autocomplete="off" class="form-control" placeholder="Please enter your email">
					</div>
				</div>
			  </div>
			  <div class="form-group">
					<div class="text-center col-sm-12">
						<button class="btn btn-primary btn-block btn-flat" ng-click="forgetPassword();">Submit</button>
					</div>
			  </div>
			  <div class="form-group">
					<div class="text-center col-sm-12">
						<a href="#/login"><i class="fa fa-arrow-circle-left"></i>&nbsp;Back</a>
					</div>
			  </div>
		</form>
	  </div>
	  
</div>
