<!DOCTYPE html>
<html>
	<body >
		<div style="margin-bottom:20px; width:100%; float:left;">
			<div style="width:48%; float:left; padding-left: 1%;">
				<p style="margin:0px;"><b>Rock the Boards,L.L.C.</b></p>
				<p style="margin:0px;"><b>P.O.Box 3898</b></p>
				<p style="margin:0px;"><b>New Orleans, LA 70177</b></p>
				<p style="margin:0px;"><b>support@rocktheboards.com</b></p>
				<p style="margin:0px;"><b>(657)444-RADS (7237)</b></p>
				
			</div>
			<div>

				<div class="contentdiv" style="width:48%; float:left; visibility: visible; padding-left: 1%;">
					<img src="logo.png" alt="Image" style="float:right;">
				</div>
			
			</div>
			
			
			<div class="cleaner"></div>
		</div>
		<div style="width:100%; display:table; float:left;  background-color:#7E97AD;">
			<div style="width:50%; float:left;"><p style="float:left; padding:0px 10px; font-family: "PT Sans",sans-serif;"><b>RECEIPT</b></p></div>
			<div style="width:50%; float:left"><p style="float:right; padding:0px 10px; font-family: "PT Sans",sans-serif;"><b>05.10.2015</b></p></div>
		</div>
		<div style="width: 100%; display:table; float:left">
			<table style="width: 100%; border-collapse: collapse;">
			  <tr style="border-bottom: 1px solid #7E97AD;">
				<th style="text-align:left; padding:0px 10px; color:#7E97AD; ">BILL TO</th>
				<th style="text-align:left; padding:0px 10px; color:#7E97AD; ">SHIP TO</th>
				<th style="text-align:left; padding:0px 10px; color:#7E97AD;">INSTRUCTIONS</th>
			  </tr>
			  <tr style="">
				<td data-th="Movie Title" style="padding:0 10px;">User name</td>
				<td data-th="Genre" style="padding:0 10px;">User name</td>
				<td data-th="Year" style="padding:0 10px;">Thank you for your business!</td>
			  </tr>
			  <tr>
				<td data-th="Movie Title" style="padding:0 10px;">User email</td>
				<td data-th="Genre" style="padding:0 10px;">User email</td>
				<td data-th="Year" style="padding:0 10px;">Thank you for your business!</td>
			  </tr>
			  <tr>
				<td data-th="Movie Title" style="padding:0 10px;">User address from credit card</td>
				<td data-th="Genre" style="padding:0 10px;">User address from credit card</td>
				<td data-th="Year" style="padding:0 10px;">Thank you for your business!</td>
			  </tr>
			</table>
		</div>
		
		<div style="width: 100%; display:table; float:left; margin-top:50px; border-bottom: 2px solid #7E97AD;">
			<table style="width: 100%; border-collapse: collapse;">
			  <tr style="background-color:#7E97AD;">
				<th style="text-align:left; padding:3px 10px;">QUANTITY</th>
				<th style="text-align:left; padding:3px 10px;">DESCRIPTIONS</th>
				<th style="text-align:left; padding:3px 10px;">UNIT PRICE</th>
				<th style="text-align:left; padding:3px 10px;">TOTAL</th>
			  </tr>
			  <tr style="border-bottom: 1px solid #7E97AD;">
				<td data-th="QUANTITY" style="padding:0 10px;">1</td>
				<td data-th="DESCRIPTIONS" style="padding:0 10px;" >Basic CORE:CORE Qbank for 1 month</br>Referral: Auntieminnie</td>
				<td data-th="UNIT PRICE" style="padding:0 10px;">$99</td>
				<td data-th="TOTAL" style="padding:0 10px;">$99</td>
			  </tr>
			  <tr style="border-bottom: 1px solid #7E97AD;">
				<td data-th="Movie Title" style="padding:0 10px;">2</td>
				<td data-th="DESCRIPTIONS" style="padding:0 10px;">Basic CORE:CORE Qbank for 1 month</br>Referral: Auntieminnie</td>
				<td data-th="UNIT PRICE" style="padding:0 10px;">$986</td>
				<td data-th="TOTAL" style="padding:0 10px;">$774</td>
			  </tr>
			  <tr>
				<td data-th="Movie Title" style="padding:0 10px;">3</td>
				<td data-th="DESCRIPTIONS" style="padding:0 10px;">Basic CORE:CORE Qbank for 1 month</br>Referral: Auntieminnie</td>
				<td data-th="UNIT PRICE" style="padding:0 10px;">$73</td>
				<td data-th="TOTAL" style="padding:0 10px;">$115</td>
			  </tr>
			</table>
		</div>
		<div style="float:right; width:45%;">
			<div style="border-bottom: 1px solid #7E97AD; width:100%; float:left;">
				<div style="float:left; width:45%;">SUBTOTAL</div>
				<div style="float:left; width:45%; text-align:right;">$1000</div>
			</div>
			<div style="border-bottom: 1px solid #7E97AD; width:100%; float:left;">
				<div style="float:left; width:45%;">SALES TAX</div>
				<div style="float:left; width:45%; text-align:right;">N/A</div>
			</div>
			<div style="border-bottom: 2px solid #7E97AD; width:100%; float:left;">
				<div style="float:left; width:45%;">SHIPPING & HANDLING</div>
				<div style="float:left; width:45%; text-align:right;">N/A</div>
			</div>
			<div style="border-bottom: 2px solid #7E97AD; width:100%; float:left;">
				<div style="float:left; width:45%;">TOTAL DUE</div>
				<div style="float:left; width:45%; text-align:right;">PAID IN FULL</div>
			</div>
			<div style="float:left;"><p><b>Thank you for your Business!</b></p></div>
		</div>
		
		
	</body>
</html>