  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
       SeamlessChex Admin
      </h1>
      <div class="add-new-btn">
		 	<a class="btn btn-block btn-primary" ui-sref="seamlesschex-admin-new">Add New Admin</a> 
	  </div>
      <ol class="breadcrumb">
        <li class="active">seamlesschex-admins</li>
      </ol>
	</section>
	
    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			<flash-message show-close="true"></flash-message>
			  <div class="box box-primary">
				<div class="box-header">
				  <h3 class="box-title">SeamlessChex Admin  List</h3>

				  <div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				
				<div class="box-body table-responsive no-padding" ng-controller="CompanyUserController as comapnyuser">
				   
					
				  <table class="table table-hover table-striped th-color" >
					<tr>
					  <th>ID</th>
					  <th width="100">Action</th>
					  <th>
						  <a href="javascript:void(0);" ng-click="sortBy('name')">Name
						  <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
						  </a>
					  </th>
					  <th>
						  <a href="javascript:void(0);" ng-click="sortBy('username')">Email
						  <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
						  </a>
					  </th>
					  <th>&nbsp;</th>
					  <th>Access</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('invited_date')">Invited Date
						  <span class="sortorder" ng-show="propertyName === 'invited_date'" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						  <a href="javascript:void(0);" ng-click="sortBy('status')">Status
						  <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
						  </a>
					  </th>
					</tr>
					<tr ng-repeat="admin in scxadmin.users | filter:searchText | orderBy:propertyName:reverse" ng-animate="'animate'">
					  <td>{{$index + 1}}</td>
					  <td>
						<a ng-if="admin.status.status_code != 'pending'"><span class="ghost" ng-click="ghostEnable(admin.sc_token)"><i class="fa fa-user"> <md-tooltip md-direction="top">Ghost Login</md-tooltip></i></span></a>&nbsp;
						<a ng-if="admin.role_id == '2' && admin.status.status_code == 'pending'"><span class="delete md-primary md-raised" ng-click="deleteScxAdmin($event, admin.sc_token, $index, 'Admin')"><i class="fa fa-close"><md-tooltip md-direction="top">Delete</md-tooltip></i></span></a>
						<a ng-if="admin.role_id == '1' && admin.status.status_code == 'pending'"><span class="delete md-primary md-raised" ng-click="deleteScxAdmin($event, admin.sc_token, $index, 'Super Admin')"><i class="fa fa-close"><md-tooltip md-direction="top">Delete</md-tooltip></i></span></a>&nbsp;
						<!--<a ui-sref="user-permissions({ sc_token: admin.sc_token, currstate: 'seamlesschex-admins'})"><i class="fa fa-eye"><md-tooltip md-direction="top">Permission</md-tooltip></i></a>&nbsp;-->
					  </td>
					  <td>{{admin.name}}</td>
					  <td>{{admin.email}}</td>
					  <td>
					   <button  ng-if="admin.status.status_code == 'active'" style="width: 8.5em; padding: 4px 0;" class="btn access label-success" ng-click="actionAccess(admin.status.id, admin.sc_token);" >Revoke Access</button>
					   <button  ng-if="admin.status.status_code == 'pending'" style="width: 8.5em; padding: 4px 0;" class="btn access label-warning pending" ng-click="actionAccess(admin.status.id, admin.sc_token);">Invoke Access</button>
					   <!--<button  ng-if="admin.status.status_code == 'inactive'" style="width: 8.5em; padding: 4px 0;" class="btn access label-warning" ng-click="actionAccess(admin.status.id, admin.sc_token);" >Invoke Access</button>-->
					  </td>
					   <td>
						<span  ng-if="admin.role_id == '1'">Super Admin</span>
						<span  ng-if="admin.role_id == '2'">Admin</span>
						</td>
					   <td>{{admin.invited_date}} {{admin.time}}</td>
					  <td>
						<span class="status-label {{admin.status.status_code}}" style="background-color:{{admin.status.color}}">
							<span  ng-if="admin.status.status_code == 'active'" >Invite Accepted</span>
							<span  ng-if="admin.status.status_code == 'pending'"  >Pending (invite sent)</span>
							
						</span>
					  </td>
					  
					 </tr>
					 <tr ng-if="scxadminMessage">
						<td colspan="4">{{scxadminMessageText}}</td>
					 </tr>
				  </table>
				  <span us-spinner></span>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->

    </section>
    
	<!-- Footer Start-->
	<div class="main-footer" ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  	<div style="visibility: hidden">
	  <div class="md-dialog-container" id="myStaticDialog">
		<md-dialog>
		  This is a pre-rendered dialog.
		</md-dialog>
	  </div>
	</div>

