<div class="form-cover">
	<div class="inner-form-cover">
    	<form class="twostep-form" >
        	<div class="form-body">
            	<div class="form-inner-body" ng-switch on="selection">
				
                	<div  ng-switch-when="Sign Up Now">
					<p class="alert alert-danger" ng-if="register.registerSuccess"><strong>Success:</strong> {{register.registerSuccessText}}</p>
					<p class="alert alert-danger" ng-if="register.registerError"><strong>Error:</strong> {{register.registerErrorText}}</p>
                    	<div class="form-page">
                        	<div class="form-field">
                            	<div class="input-cover">
                            		<input class="sc-input" placeholder="Business Name" type="text" ng-model="register.user.name" ng-keypress="hideErrorMessage();">
                                    <div ng-show="error_message_name" class="error-msg" ng-style="error_message_name && {'display':'block'}">  
									{{error_message_name}}
									</div>
                                </div>
                            </div>
                            <div class="form-field">
                            	<div class="input-cover">
                            		<input class="sc-input" ng-model="register.user.cname" placeholder="Contact Name (first and last name)" type="text" ng-keypress="hideErrorMessage();">
								 	<div ng-show="error_message_cname" class="error-msg"  ng-style="error_message_cname && {'display':'block'}">  
									{{error_message_cname}}
									</div>
                                </div>
                            </div>
                            <div class="form-field">
                            	<div class="input-cover">
                            	<input class="sc-input" ng-model="register.user.email" placeholder="Business Email (This Will Be Your Username)" type="email" ng-keypress="hideErrorMessage();">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <div ng-show="error_message_email" class="error-msg"  ng-style="error_message_email && {'display':'block'}">  
                                {{error_message_email}}
                                </div>
                                </div>
                            </div>
                            <div class="form-field">
                            	<div class="input-cover">
                            		<input class="sc-input" ng-model="register.user.website" placeholder="Website" type="text" ng-keypress="hideErrorMessage();">
									<div ng-show="error_message_website" class="error-msg" ng-style="error_message_website && {'display':'block'}">  
									{{error_message_website}}
									</div>
                                </div>
                            </div>
                            
                             <div class="address-field">
                             	<div class="street-address form-field">
                                	<div class="input-cover">
                            			<input class="sc-input" ng-model="register.user.saddress" placeholder="Street Address" type="text" ng-keypress="hideErrorMessage();">
										<div ng-show="error_message_saddress" class="error-msg" ng-style="error_message_saddress && {'display':'block'}">  
										{{error_message_saddress}}
										</div>
                                    </div>
                                </div>
                                <div class="city form-field">
                                	<div class="input-cover">
                                		<input class="sc-input" ng-model="register.user.city" placeholder="City" type="text" ng-keypress="hideErrorMessage();">
                                    	<div ng-show="error_message_city" class="error-msg"  ng-style="error_message_city && {'display':'block'}">  
                                        {{error_message_city}}
                                        </div>
                                    </div>
                                </div>
                                <div class="state form-field">
                                	<div class="input-cover">
                                		<input class="sc-input" ng-model="register.user.state" placeholder="State" type="text" ng-keypress="hideErrorMessage();">
                                    	<div ng-show="error_message_state"  class="error-msg" ng-style="error_message_state && {'display':'block'}">  
                                        {{error_message_state}}
                                        </div>
                                    </div>
                                </div>
                                <div class="zip form-field">
                                	<div class="input-cover">
                                		<input class="sc-input" ng-model="register.user.zip" placeholder="Zip" type="text" ng-keypress="hideErrorMessage();">
                                    	<div ng-show="error_message_zip" class="error-msg" ng-style="error_message_zip && {'display':'block'}">  
                                        {{error_message_zip}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                            	<div class="input-cover">
                            		<phonenumber-directive placeholder="myPrompt" model="register.user.phone" ng-keypress="hideErrorMessage();"></phonenumber-directive>
                                	<div ng-show="error_message_phone" class="error-msg" ng-style="error_message_phone && {'display':'block'}">  
                                    {{error_message_phone}}
                                	</div>
                                </div>
                            </div>
                            <div class="form-field select-field">
                            	<div class="input-cover">
									<select class="sc-select" ng-model="register.user.business_type" ng-change="hideErrorMessage()">
										<option value="">Industry Type</option>
										<option value="Auto">Auto</option>
										<option value="Collections">Collections</option>
										<option value="Computer Support">Computer Support</option>
										<option value="Finance">Finance</option>
										<option value="Insurance">Insurance</option>
										<option value="Legal">Legal</option>
										<option value="Manufacturing / Supplier">Manufacturing / Supplier</option>
										<option value="Medical">Medical</option>
										<option value="Moving / Transportation">Moving / Transportation</option>
										<option value="Professional Services">Professional Services</option>
										<option value="Real Estate">Real Estate</option>
										<option value="Web Development">Web Development</option>
										<option value="Other">Other</option>
									</select>
									<div ng-show="error_message_business_type" class="error-msg" ng-class=" {'error':name_error}" ng-style="error_message_business_type && {'display':'block'}">  
									{{error_message_business_type}}
									</div>
                                </div>
                            </div>
                            <div class="form-field">
                            	<div class="input-cover">
                            		<input class="sc-input" ng-model="register.user.password" placeholder="Password must be at least 8 digits" type="password" ng-keypress="hideErrorMessage();">
                                	<div ng-show="error_message_password" class="error-msg" ng-style="error_message_password && {'display':'block'}">  
									{{error_message_password}}
									</div>
                                </div>
                            </div>
                            <div class="form-field check-field">
								<div ng-show="error_message_privacypolicy" class="error-msg" ng-class=" {'error':name_error}" ng-style="error_message_privacypolicy && {'display':'block'}">  
								{{error_message_privacypolicy}}
								</div>
								 <md-checkbox ng-model="register.user.privacypolicy" aria-label="Privacy Policy" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" role="checkbox" class="ng-valid md-checked ng-not-empty ng-dirty ng-valid-parse ng-touched" tabindex="0" aria-checked="true" aria-invalid="false" style="" ng-click="hideErrorMessage()">
                                    By clicking button, I agree to 
                                 <span>
									<a href="https://seamlesschex.com/privacy-policy" target="_blank">Seamless Chex, Privacy Policy</a></span>
								 </md-checkbox>
                            </div>
                            <div class="form-field">
                            	<div class="submit-button">
                                	<button class="signup-btn" type="button" ng-click="incrementStep()"><span>Sign Up Now</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- Step two  -->
                    <div  ng-switch-when="Activate Free Trial Now">
						<p class="alert alert-danger" ng-if="register.registerSuccess"><strong>Success:</strong> {{register.registerSuccessText}}</p>
						<p class="alert alert-danger" ng-if="register.registerError"><strong>Error:</strong> {{register.registerErrorText}}</p>
                    	<div class="form-page">
						<input type="hidden" ng-model="register.user.user_token" > 
						<input type="hidden" ng-model="register.user.amount" ng-value="{{register.user.amount}}" id="planAmount" class=""> 
                        	 <div class="form-field-main">
                             	<div class="label_cover">
                                	<div class="lavel-header form-field">
                                        <span class="label-name">Plan</span>
                                        <span class="sub_label">select one</span>
                                    </div>
                                    <div class="checkbox-field form-field">
										<md-radio-group ng-model="register.user.plan" ng-change="setAmount(register.user.plan)">
											<div class="form-group" ng-repeat="plan in plan_list_show">
											  <md-radio-button value="{{plan.plan}}" class="md-primary" >{{plan.opt}}</md-radio-button>
											 </div>
										</md-radio-group>
									</div>
                                    
                                    <div class="payby-link">
                                    	<span class="condition">*</span><span class="payby-content">Includes <a href="https://seamlesschex.com/checkout/9dEDIvIZRz0ldCPkQiY6b01342izz82suHW/0/0/1/test" target="_blank">Pay By Check</a> Link Function</span>
                                    </div>
                                </div>	
                                <div class="stripe-payment-cover">
                            		<div class="form-field credit-card col-xs-12 col-sm-12 col-md-12" ng-model="register.user" validate-card>
										 <input type="text" class="form-control" ng-model="register.user.number"  placeholder="Card Number" ng-change="checkEmpty(register.user)" format-card/>
										 <div id="card-images" class="card-images {{register.user.type}}"></div>
									</div>
                                    <div class="form-field date-validation">
                                    	<label>
                                    	<span class="expiry-label">Expiry</span>
										<input class="sc-input" type="text" ng-model="register.user.expiration" ui-mask="99/99"  ui-mask-placeholder="MM/YY" ui-mask-placeholder-char="_"/>
										<i class="fa fa-calendar"></i>
                                        </label>
                                	</div>
                                    <div class="form-field cvc">
                                		<input class="sc-input" ng-model="register.user.cvc" placeholder="CVC" type="text" maxlength="4">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                	</div>
                                    <div class="secured-div">
                                    	<i class="fa fa-lock" aria-hidden="true"></i><span class="secured-green"> 128-bit SSL Secured</span>
                                    </div>	
                            	</div>
                                <div class="form-field check-field llc-tos">
                                    <md-checkbox ng-model="register.user.agree" aria-label="I agree" ng-init="" ng-true-value="'yes'" ng-false-value="'no'" role="checkbox" class="ng-valid md-checked ng-not-empty ng-dirty ng-valid-parse ng-touched " tabindex="0" aria-checked="true" aria-invalid="false" style="">
                                        By clicking button, I agree to  
                                    <a href="https://seamlesschex.com/privacy-policy" target="_blank">Seamless Chex, LLC TOS Policy</a>
									</md-checkbox>
									<div class="descriptions">
                                    	<span>**Your card will be billed after 3 checks or 14 days.  To cancel, simply send us a note through our Contact Page and we'll cancel your account ASAP!</span>
                                    </div>
                                </div>
                                <div class="form-field btn-field">
                                	<div ng-show="error_message_all_field" class="error-msg" ng-class=" {'error':name_error}" ng-style="error_message_all_field && {'display':'block'}">  
									{{error_message_all_field}}
									</div>
                                    <div class="submit-button">
                                        <button class="freetrial-btn" ng-disabled="isDisabled" ng-model="isDisabled" type="submit" ng-click="register.register()"><span>Activate Free Trial Now</span></button>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="back-button" ng-click="decrementStep()">
                                        <span><i class="fa fa-arrow-circle-left" style="position: inherit;"></i>&nbsp;Back</span>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </form>
    </div>
</div>