<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Company
      </h1>
      <ol class="breadcrumb">
        <li class="active">company-edit</li>
      </ol>
    </section>

    <!-- Main content -->
	<section class="content">
		  
		<div class="row">
			<div class="col-xs-12">
				<div class="nav-tabs-custom" ng-controller="TabController as panel">
					<ul class="nav nav-tabs">
					  <li ng-class="{active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Company Details</a></li>
					  <li ng-class="{active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Bank Details</a></li>
					  <li ng-class="{active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Fee Settings</a></li>
					  <li ng-class="{active:panel.isSelected(4) }"><a href ng-click="panel.selectTab(4)">Plan Details</a></li>
					  <li ng-class="{active:panel.isSelected(5) }"><a href ng-click="panel.selectTab(5)">Credit Card</a></li>
					  <li ng-class="{active:panel.isSelected(6) }"><a href ng-click="panel.selectTab(6)">Permissions</a></li>
					  <li ng-class="{active:panel.isSelected(7) }"><a href ng-click="panel.selectTab(7)">Processing Cutoff</a></li>
					</ul>
					<!--'Horizontal Form'-->
					<div class="col-md-12 tab-content">
						<!-- Company Details Start-->
						<div class="box box-info" ng-show="panel.isSelected(1)">
							<div class="box-header with-border">
								<h3 class="box-title">Company Details</h3>
							</div>
					 <!-- /.box-header -->
						 <!-- form start -->
							<p class="alert has-success" ng-if="company.companySuccess"><strong>Success:</strong> {{panel.company.companySuccessText}}</p>
							<p class="alert has-error" ng-if="company.companyError"><strong>Error:</strong> {{panel.company.companyErrorText}}</p>
							<form class="form-horizontal">
								<input type="hidden" ng-model="company.stripe_id"  />
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="inputBusinessName3">Business Name</label>
										<div class="col-sm-6">
											<input id="inputBusinessName3" class="form-control" type="text" placeholder="Business Name" ng-model="company.name"  />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Contact name</label>
										<div class="col-sm-6">
											<input id="inputContactName3" class="form-control" type="text" placeholder="Contact name" ng-model="company.cname"  />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Company email</label>
										<div class="col-sm-6">
											<input id="inputCompanyEmail3" class="form-control" type="text" placeholder="Company email" ng-model="company.email"  />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Password</label>
										<div class="col-sm-6">
											<input id="inputCompanyEmail3" class="form-control" type="text" placeholder="Password must be at least 8 digits" ng-model="company.password"  />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Address</label>
										<div class="col-sm-6">
										  <input id="inputAddress3" class="form-control" type="text" placeholder="Address" ng-model="company.saddress"   />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">City</label>
										<div class="col-sm-6">
											<input id="inputCity3" class="form-control" type="text" placeholder="City" ng-model="company.city"   />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">State</label>
										<div class="col-sm-6">
											<input id="inputState3" class="form-control" type="text" placeholder="State" ng-model="company.state"   />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Zip</label>
										<div class="col-sm-6">
											<input id="inputZip3" class="form-control" type="text" placeholder="Zip" ng-model="company.zip"  />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Business Type</label>
										<div class="col-sm-6">
											<select ng-model="company.business_type" class="form-control">
												<option value="">Industry Type</option>
												<option value="Auto">Auto</option>
												<option value="Collections">Collections</option>
												<option value="Computer Support">Computer Support</option>
												<option value="Finance">Finance</option>
												<option value="Insurance">Insurance</option>
												<option value="Legal">Legal</option>
												<option value="Manufacturing / Supplier">Manufacturing / Supplier</option>
												<option value="Medical">Medical</option>
												<option value="Moving / Transportation">Moving / Transportation</option>
												<option value="Professional Services">Professional Services</option>
												<option value="Real Estate">Real Estate</option>
												<option value="Web Development">Web Development</option>
												<option value="Other">Other</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Phone Number</label>
										<div class="col-sm-6">
											<input id="inputPhoneNumber3" class="form-control" type="text" placeholder="Phone Number" ng-model="company.phone"  value="{{company.phone}}" />
										</div>
									</div>
									
								</div>
								<div class="box-footer">
									<button class="btn btn-default" type="submit">Cancel</button>
									<button class="btn btn-info pull-right" type="submit"ng-click="panel.companyDetails()" >Submit</button>
								</div>
							</form>
						</div>
						<!-- Company Details End-->
						
						<!-- Bank Details Start-->
						<div class="box box-info" ng-show="panel.isSelected(2)">
								<div class="box-header with-border">
									<h3 class="box-title">Bank Details</h3>
								</div>
								<form class="form-horizontal">
									<div class="box-body">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Bank name</label>
											<div class="col-sm-3">
												<input id="inputBankname3" class="form-control" type="text" placeholder="Bank name" ng-model="company.bank_name"   />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Routing</label>
											<div class="col-sm-3">
											  <input id="inputRouting3" class="form-control" type="text" placeholder="Routing" ng-model="company.bank_routing"   />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Bank account number</label>
											<div class="col-sm-3">
												<input id="inputBankaccountnumber3" class="form-control" type="text" placeholder="Bank account number" ng-model="company.bank_account_no"   />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Authorised signer</label>
											<div class="col-sm-3">
												<input id="inputAuthorisedsigner3" class="form-control" type="text" placeholder="Authorised signer" ng-model="company.authorised_signer"   />
											</div>
										</div>
										
									</div>
									<div class="box-footer">
										<button class="btn btn-default" type="submit">Cancel</button>
										<button class="btn btn-info pull-right" type="submit" ng-click="panel.bankDetails()">Submit</button>
									</div>
								</form>
							</div>
						<!-- Bank Details End-->
								
						<!-- Fees Details Start-->
						<div class="box box-info" ng-show="panel.isSelected(3)">
							<div class="box-header with-border">
								<h3 class="box-title">Fees Details</h3>
							</div>
							<form class="form-horizontal">
								<div class="box-body">
									<div class="form-group">
									  <label class="col-sm-2 control-label" for="inputCheckVerificationfee3">Check Verification fee</label>
									  <div class="col-sm-2" ng-if="company.fee.CHECK_VERIFICATION_FEE === '' || company.fee.CHECK_VERIFICATION_FEE === undefined">
										  <input id= "inputCheckVerificationfee3"class="form-control" type="text" placeholder="Check Verification fee" ng-model="company.fee.CHECK_VERIFICATION_FEE"  />
									  </div>
									  <div class="col-sm-2" ng-if="company.fee.CHECK_VERIFICATION_FEE === true">
										  <input id= "inputCheckVerificationfee3"class="form-control" type="text" placeholder="Check Verification fee" ng-model="company.fee.CHECK_VERIFICATION_FEE"   />
									  </div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="inputCheckVerificationfeep3">Check Processing fee(%)</label>
										<div class="col-sm-2">
											<input id="inputCheckProcessingfee(%)" class="form-control" type="text" placeholder="Check Processing fee(%)" ng-model="company.fee.CHECK_PROCESSING_FEE"   />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="inputPerCheckfee3">Per Check fee</label>
										<div class="col-sm-2">
											<input id="inputPerCheckfee3" class="form-control" type="text" placeholder="Per Check fee" ng-model="company.fee.PER_CHECK_FEE"   />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="inputDailyDepositFee3">Daily Deposit Fee</label>
										<div class="col-sm-2">
											<input id="" class="form-control" type="text" placeholder="Daily Deposit Fee" ng-model="company.fee.DAILY_DEPOSIT_FEE"   />
										</div>
									</div>
									
								</div>
								<div class="box-footer">
									<button class="btn btn-default" type="submit">Cancel</button>
									<button class="btn btn-info pull-right" type="submit"ng-click="panel.feeSettings()">Submit</button>
								</div>
							</form>
							</div>
						<!-- Fees Details End-->
						
						<!--Plan Details Start-->
						 <div class="box box-info" ng-show="panel.isSelected(4)">
							<div class="box-header with-border">
								<h3 class="box-title">Plan Details - <span ng-if="company.fee.MONTHLY_FEE >0"> Monthly User </span></h3>
							</div>
							<form class="form-horizontal">
								<div class="box-body">
								<h3 class="box-title">{{company.stripe_plan}} - {{company.status}}</h3>
								
								<!--<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-checked="company.fee.MONTHLY_FEE" ng-model="company.monthly_user" ng-true-value="'yes'" ng-false-value="'no'" />Monthly User
											</label>
										</div>
										</div>
									</div>-->
									<div class="form-group">
									 <div class="col-sm-offset-2 col-sm-10">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-model="company.company_settings.COMPANY" ng-checked="company.company_settings.COMPANY === 'yes'" ng-true-value="'yes'" ng-false-value="'no'" />Company
											</label>
											<label>
												<input type="checkbox" ng-checked="company.company_settings.FUNDCONFIRMATION === 'yes'" ng-true-value="'yes'" ng-false-value="'no'" />FundConfirmation
											</label>
											<label>
												<input type="checkbox" ng-model="company.company_settings.SIGNTURE" ng-checked="company.company_settings.SIGNTURE === 'yes'" ng-true-value="'yes'" ng-false-value="'no'" />Signture
											</label>
											<label>
												<input type="checkbox" ng-model="company.company_settings.CHECKOUTLINK" ng-checked="company.company_settings.CHECKOUTLINK === 'yes'" ng-true-value="'yes'" ng-false-value="'no'" />Payment Link
											</label>
											<label>
												<input type="checkbox" ng-model="company.company_settings.BANKAUTHLINK" ng-checked="company.company_settings.BANKAUTHLINK === 'yes'" ng-true-value="'yes'" ng-false-value="'no'" />Bank Pay Auth
											</label>
										</div>
									 </div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="inputCheckMonthlyFee3">Monthly Fee</label>
										<div class="col-sm-2">
											<input id="inputCheckMonthlyFee3" class="form-control" type="text" placeholder="FundConfirmation Fee" ng-model="company.fee.MONTHLY_FEE"   />
										</div>
										<label class="col-sm-2 control-label" for="inputCheckfundVerificationfee3">FundConfirmation Fee</label>
										<div class="col-sm-2">
											<input id="inputCheckfundVerificationfee3" class="form-control" type="text" placeholder="FundConfirmation Fee" ng-model="company.fee.FUNDCONFIRMATION_FEE"   />
										</div>
									</div>
									
								<div class="form-group">
										<label class="col-sm-2 control-label" for="inputTotalChecks3">Total Checks</label>
										<div class="col-sm-2">
											<input id="inputTotalChecks3" class="form-control" type="text" placeholder="Total Checks" ng-model="company.company_settings.TOTALNOCHECK"   />
										</div>
										<label class="col-sm-2 control-label" for="inputRemaining3">Remaining Checks</label>
										<div class="col-sm-2">
											<input id="inputRemaining3" class="form-control" type="text" placeholder="Remaining Checks" ng-model="company.company_settings.NOOFCHECKREMAINING"   />
										</div>
								</div>
								
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="inputTFC3">Total Fund Confirmation</label>
										<div class="col-sm-2">
											<input id="inputTrial3" class="form-control" type="text" placeholder="Total Fund Confirmation" ng-model="company.company_settings.TOTALFUNDCONFIRMATION"   />
										</div>
										<label class="col-sm-2 control-label" for="inputRFC3">Remaining Fund Confirmation</label>
										<div class="col-sm-2">
											<input id="inputRFC3" class="form-control" type="text" placeholder="Remaining Fund Confirmation" ng-model="company.company_settings.REMAININGFUNDCONFIRMATION"   />
										</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="inputTPAuth3">Total Bank Pay Auth</label>
									<div class="col-sm-2">
										<input id="inputTPAuth3" class="form-control" type="text" placeholder="Total Bank Pay Auth" ng-model="company.company_settings.TOTALPAYAUTH"   />
									</div>
									<label class="col-sm-2 control-label" for="inputPAuthR3">Remaining Bank Pay Auth</label>
									<div class="col-sm-2">
										<input id="inputPAuthR3" class="form-control" type="text" placeholder="Remaining Bank Pay Auth" ng-model="company.company_settings.PAYAUTHREMAINING"   />
									</div>
								</div>
								<div class="form-group" ng-if="company.all_plan">
									<label class="col-sm-2 control-label" for="selectPlanType3">Plan Type</label>
										<div class="col-sm-2" >
											<select ng-model="company.stripe_plan" class="col-sm-12" >
													<option value="">Select Plan</option>
													<option ng-selected="{{plan.plan_id == company.stripe_plan}}" ng-repeat="plan in company.all_plan" value="{{plan.plan_id}}">{{plan.plan_name}} (${{plan.amount}})</option>
											  </select>
										</div>
										<label class="col-sm-2 control-label" for="inputTrial3">Status</label>
										<div class="col-sm-2">
											<input id="inputTrial3" class="form-control" type="text" placeholder="Status" ng-model="company.status"   />
										</div>
								</div>
								
								<div class="form-group">
										<label class="col-sm-2 control-label" for="inputTrial3">Trial Date</label>
										<div class="col-sm-2">
											<input id="inputTrial3" class="form-control" type="text" placeholder="Trial" ng-model="company.trial_ends_at" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30"  />
										</div>
										<label class="col-sm-2 control-label" for="inputSubscriptionEnd3">Subscription End Date</label>
										<div class="col-sm-2">
											<input id="inputSubscriptionEnd3" class="form-control" type="text" placeholder="Subscription End" ng-model="company.subscription_ends_at" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30"  />
										</div>
								</div>
								
								</div>
								<div class="box-footer">
									<button class="btn btn-default" type="submit">Cancel</button>
									<button class="btn btn-info pull-right" type="submit"ng-click="panel.planDetails()">Submit</button>
								</div>
							</form>
						</div>
						<!--Plan Details End-->
						
						<!--Card Details Start-->
						 <div class="box box-info" ng-show="panel.isSelected(5)">
							<div class="box-header with-border">
								<h3 class="box-title">Card Details</h3>
							</div>
							<form class="form-horizontal">
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Card Number</label>
										<div class="col-sm-4" ng-model="company" validate-card>
										  <input id="inputcardNumber3" class="form-control" type="text" placeholder="Card Number" ng-model="company.number" ng-change="checkEmpty(company)" format-card   />
										  <div id="card-images" class="card-images {{company.type}}"></div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Month</label>
										<div class="col-sm-2">
										  <input id="inputMonth3" class="form-control" type="text" placeholder="MM" ng-model="company.exp_month" size="2" maxlength="2" />
										  
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">Year</label>
										<div class="col-sm-2">
										  <input id="inputYear3" class="form-control" type="text" placeholder="YYYY" ng-model="company.exp_year" size="4" maxlength="4"  />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="">CVC</label>
										<div class="col-sm-2">
										  <input id="inputCvc3" class="form-control" type="text" placeholder="CVC" ng-model="company.cvc" maxlength="10" size="4"  />
										</div>
									</div>
									
								</div>
								<div class="box-footer">
									<button class="btn btn-default" type="submit">Cancel</button>
									<button class="btn btn-info pull-right" type="submit"ng-click="panel.creditCardDetails()">Submit</button>
								</div>
							</form>
						</div>
						<!--Card Details End-->
						
						<!--Permissions Start-->
						 <div class="box box-info" ng-show="panel.isSelected(6)">
							<div class="box-header with-border">
								<h3 class="box-title">Permissions</h3>
							</div>
							<form class="form-horizontal">
								<h4 class="box-header with-border">Copmpany Check Permissions - LINK</h4>
								<div class="box-body">
									<div class="form-group">
										 
										<div  class="permission-wrapper" ng-repeat="setting in company.default_settings">
											
											<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'LINK'"> 
												<div class="col-sm-2" >
													
													<input  class="" type="checkbox" ng-model="company.settings[setting.permission_name]"  ng-checked="company.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
												</div>
												<label class="col-sm-6 text-left" >			{{setting.permission_label}}
												</label>
											</div>
											
										</div>
										
										<!--{{company.settings}}-->
										
									</div>
									
									
								</div>
								
								<h4 class="box-header with-border">Copmpany Check Permissions - Button</h4>
								<div class="box-body">
									<div class="form-group">
										<div class="permission-wrapper" ng-repeat="setting in company.default_settings">
											
											<div class="col-sm-4 control-label"  ng-if="setting.permission_type == 'BUTTON'"> 
												<div class="col-sm-2" >
													
													<input  class="" type="checkbox" ng-model="company.settings[setting.permission_name]"  ng-checked="company.user_settings.{{setting.permission_name}} === 'yes'"  ng-true-value="'yes'" ng-false-value="'no'"  ng-value="[setting.permission_value]"/>
												</div>
												<label class="col-sm-6 text-left" >			{{setting.permission_label}}
												</label>
											</div>
										</div>
										
										<!--{{company.settings}}-->
										
									</div>
									
									
								</div>
								<div class="box-footer">
									<button class="btn btn-default" type="submit">Cancel</button>
									<button class="btn btn-info pull-right" type="submit"ng-click="panel.permissionSettings()">Submit</button>
								</div>
							</form>
						</div>
						<div class="box box-info" ng-show="panel.isSelected(7)">
							<div class="box-header with-border">
								<h3 class="box-title">Processing Cutoff</h3>
							</div>
							<div class="box-body">
								<div class="form-group">
								</div>
							</div>
						</div>
						<!--Permissions End-->
						
						<div class="alert alert-danger" ng-if="user.error">
							<strong>There was an error: </strong> {{user.error.error}}
							<br>Please go back and login again
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</div>

