
<!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Print Batches
      </h1>
	</section>
    <!-- Main content -->
    <section class="content">
      {{action}}
        <div class="row">
			<div class="col-xs-12">
			  <div class="box batch">
				<div class="box-header">
				  	<h3 class="box-title"></h3>
				</div>
                <div class="box-body Print-Check enter-Check">
                	<form role="form" class="ng-pristine ng-valid">
                    	<div class="form-group col-sm-4 col-md-6">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-institution"></i>
									<label>Select Merchant</label>
								</div>
								<select ui-select2="" ng-model="printbatch.companyadmin" class="form-control" ng-controller="MultiStepFormController as companyAdmin">
									<option value="">Select Merchant Admin</option>
									<!--<option value="-1">All Company</option>-->
									<option ng-repeat="companyadmin in company.company_admin" value="{{companyadmin.id}}">{{companyadmin.company_name}} {{companyadmin.company_email}}</option>
								 </select>
							</div>
								<!-- /.input group -->
						</div>
                        
                        <div class="form-group col-xs-12 col-sm-6 col-md-3 pull-right">
                        	
                            <div class="input-group">
                      			<input class="form-control" datetime-picker date-format="MM/dd/yyyy" placeholder="Date" ng-model="printcheckbatch.CHANGE_DATE" type="text" >
                                <div class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat" ng-click="ChangeDate()" >Update</button>
                                </div>
                          	</div>
                        </div>
                        
					
                     </form>
                        <!-- /End Form -->
                     <div class="botton_controls">
                        <div class="heading_wrap col-md-12">
                            <label class="dis_company_name pull-right">{{printbatch.companyadmin}}</label>
                        </div>
                        <div class="search_containers"> 
                        	<div class="search_details">
                                <div class="items_wrap col-md-6">
                                	<div class="box box-solid box-default">
                                         <div class="box-header with-border">
                                              <h3 class="box-title item_heading">Batch Details</h3>
                                         </div>
                                         <div class="box-body">
                                         	<div class="table-responsive">
                                            	<table class="table">
                                                	<tbody>
                                                    	<tr>
                                                            <th>Status </th>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Time </th>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total checks </th>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Amount </th>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <th>batch file </th>
                                                            <td>-</td>
                                                        </tr>
                                            		</tbody>
                                                </table>
                                            </div>
                                    	</div>
                                    </div> <!-- end / .box -->
                                    
                                    <div class="box box-solid box-default">
                                         <div class="box-header with-border">
                                              <h3 class="box-title item_heading">System</h3>
                                         </div>
                                         <div class="box-body">
                                         	<div class="table-responsive">
                                            	<table class="table">
                                                	<tbody>
                                                    	<tr>
                                                            <th style="width:50%"><a href="#">Deposit Slip </a></th>
                                                            <th class="text-right"><a href="#">Invoice Check</a></th>
                                                        </tr>
                                            		</tbody>
                                                </table>
                                            </div>
                                    	</div>
                                    </div> <!-- end / .box --> 
                                </div>
                           
                                <div class="items_wrap col-md-6">
                                		<div class="box box-solid box-default">
                                             <div class="box-header with-border">
                                                  <h3 class="box-title item_heading">Deposit Details</h3>
                                             </div>
                                             <div class="box-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Status </th>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Deposited By </th>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Deposited Date </th>
                                                                <td>-</td> 
                                                            </tr>
                                                            <tr>
                                                            	<th>Notes </th>
                                                                <td>-</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> <!-- end / .box -->
                                       <div class="box box-solid box-default">
                                             <div class="box-header with-border">
                                                  <h3 class="box-title item_heading">Print Details</h3>
                                             </div>
                                             <div class="box-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Status </th>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Printed By </th>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Printed Date </th>
                                                                <td>-</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> <!-- end / .box --> 
                               		</div>
                              </div>	<!-- end / .search_details -->
                        </div>
                    </div>
                 </div>
                    	 <!-- /.box-body -->
               
                
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
    </section>
    <!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
