  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
        Search Payments
      </h1>
      
	  <ol class="breadcrumb">
        <li class="active">search payments</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
      
        <div class="row">
			<div class="col-xs-12">
			  <div class="box">
				<div class="box-header">
				  <h3 class="box-title">Search Payments</h3>

				  <div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					  
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<div style="visibility: hidden">
					  <div class="md-dialog-container" id="myStaticDialog">
						<md-dialog>
						  This is a pre-rendered dialog.
						</md-dialog>
					  </div>
					</div>
				  ==={{check_company_admin}}<===>{{check_company_user}}===={{check_from_date}}==={{check_to_date}}==={{check_month}}
				  <table class="table table-hover">
					<tr>
					  <th>ID</th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Date
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Name
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Check
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Account no
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Amount
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Next run
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Status
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					</tr>
					<tr ng-repeat="subscription in companysubscriptions.subscriptions | filter:searchText | orderBy:propertyName:reverse" ng-animate="'animate'">
					  <td>{{$index + 1}}</td>
					  <td>{{subscription.company_name}}</td>
					  <td>{{subscription.email}}</td>
					  <td>{{subscription.stripe_plan_type}}</td>
					  <td>{{subscription.company_name}}</td>
					  <td>{{subscription.email}}</td>
					  <td>{{subscription.stripe_plan_type}}</td>
					  <td>{{subscription.company_name}}</td>	
					  </tr>
					  <tr ng-if="companysubscriptionsMessage">
						<td colspan="5">{{companysubscriptionsMessageText}}</td>
					 </tr>
				  </table>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
     

    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
