<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="http://54.200.206.176/v2/admin/css/seamlesschex.style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="SendCheck-EmailTemplate">
	<div class="inner-templatebox">
    	<div class="header-logo">
        	<div class="logo text-center">
            	<img src="http://54.200.206.176/v2/admin/assets/img/seamlesslogo.png" alt="logo">
            </div>
        </div>
        <div class="header-text text-center">
        	<h1>Evan Albert has send you a check for $100.00</h1>
        </div>
        <div class="check-wrapper text-center">
            <div class="inner-check-wrapper center-block">
                    <div class="EnterCheckDateDiv">
                        <input type="text" class="Check_Date" disabled="disabled" value="12/20/2016">
                    </div>
                    <div class="UserNameDiv">
                        <input type="text" class="User_Name" disabled="disabled" value="Evan Albert">
                    </div>
                    <div class="UserEmailDiv">
                        <input type="text" class="User_Email" disabled="disabled" value="ealbert@gmail.com">
                    </div>
                    
                    
                    <div class="CompanyNameDiv">
                        <input type="text" class="companyname" disabled="disabled" value="Bob Cohen">
                    </div>
                   
                    <div class="MemoNameDiv2">
                        <input type="text" class="Description" disabled="disabled" value="Digital Check">
                    </div>
                    <div class="amountInWords">
                    Pay Exactly One Hundred Dollars And Cents ///////
                    </div>
                    
                    <div class="UserSignatureDiv">
                        <input type="text" class="User_Signature" disabled="disabled" value="Evan Albert">
                    </div>
                    <div class="CheckNumberDiv">
                        <input type="text" class="check-number" disabled="disabled" value="1002">
                    </div>
                    <div class="CheckAmountDiv">
                        <input type="text" class="check-amount" disabled="disabled" value="100">
                    </div>
                    <div class="RoutingDiv">
                        <input type="text" class="check-routing" placeholder="Routing Number #" disabled="disabled" value="">
                    </div>
                    <div class="CheckingAccountDiv">
                        <input type="text" class="checking-account" placeholder="Account Number #" disabled="disabled" value="">
                    </div>
                    <div class="ConfirmAccountDiv">
                        <input type="text" class="confirm-account" placeholder="Confirm Account Number #" disabled="disabled" value="">
                    </div>
            </div>
        </div>
         <form role="form" class="ng-pristine ng-valid">
            <div class="box-body enter-Check">
                 <div class="col-sm-12 col-md-12">
                    <div class="box-footer text-center" style="border-top:0 none;">                        
                    	<div class="btn btn-primary" type="submit">Print Check</div>                    
                    </div>
                 </div>
            </div>
         </form>
    </div>
</div>
</body>
</html>
