
<!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Receipt
      </h1>
      <ol class="breadcrumb">
        <li class="active">receipt</li>
      </ol>
	</section>

    <!-- Main content -->
	<section class="content receipt" >
		  
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header with-border receipt_header" >
						<center>
							<h3>$49.99 at Seamless Checks, LLC</h2>
							<hr style="width: 25%;opacity:0.5 ">
							<img src="" alt="Visa"/>	<span>4242</span>
						</center>
					</div>
					<div class="box-body Reciept-table table ">
						<table class="table">
							<tbody>
								<tr class="bg-light-blue">
									<th >January 10, 2017</th>
									<th >#2659-3479</th>
								</tr>
								<tr class="Reciept_row_two">
									<td>Description </td>
									<td>Amount </td>
								</tr>
								<tr>
									<td>Subscription to SeamlessChex Pro Plan </td>
									<td>$49.99</td>
								</tr>
								<tr>
									<td style="padding-left:15%">Total</td>
									<td>$49.99</td>
								</tr>
								<tr>
									<td style="padding-left:15%;font-weight:bold;font-size:15px;">Paid</td>
									<td style="font-weight:bold;font-size:15px;" >$49.99</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
				
						<!-- box ended -->
				
			</div>
		</div>
		<div class="box-footer fotter text-center">
			<p>
				Have a question or need help? <a href="#">Send us an email </a>or<a href="tel:888.998.2439">give us a call at (888) 998-2439.</a>
			</p>
				<hr style="height: 1px;width: 45%;">	
			<p >
			You are receiving this email because you made a purchase at <a href="#">Seamless Checks, LLC.</a>
			</p>
			<p> Receipts are not sent for testmode charges. <a href="#">(Permalink.)</a> <span><button class="btn btn-primary pull-right" type="button">Download</button></span></p>
		</div>
    </section>
</div>
	
    
<!-- Footer Start-->
<div ng-include="'views/common/footer.html'"></div>
<!-- Footer End-->



