  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
<!-- Header Start-->		
<div ng-include="'views/common/header.html'"></div>
<!-- Header End-->

<!-- Left Sidebar Start-->		
<div ng-include="'views/common/sidebar-left.html'"></div>
<!-- Left Sidebar End-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-heading">
        Transactions
      </h1>
      
	  <ol class="breadcrumb">
        <li class="active">Transactions</li>
      </ol>
	</section>

    <!-- Main content -->
    <section class="content">
		<div class="row">
			<div class="col-lg-3 col-xs-6">
			  <!-- small box -->
			  <div class="small-box bg-aqua">
				<div class="inner">
				  <h3>1</h3>
				  <p>Total checks</p>
				</div>
			  </div>
			</div>
			<div class="col-lg-3 col-xs-6">
			  <!-- small box -->
			  <div class="small-box bg-aqua">
				<div class="inner">
				  <h3>20</h3>
				  <p>Total amount</p>
				</div>
			  </div>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">
			  <div class="box">
				<div class="box-header">
				  <h3 class="box-title">Transactions</h3>

				  <div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" ng-model="searchText.$" class="form-control pull-right" placeholder="Search">
					  
					</div>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
                	<!-- <div class="box-body row">
                  		<span class="col-md-3"><label>Total checks :{{total_check_count}}</label></span><span class="col-md-3"><label>Total amount : {{total_check_amount}}</label></span>
                  	</div>-->
                    <form role="form" class="ng-pristine ng-valid">
                         <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            <div class="input-group  pull-right Search_Check">
                                <button class="btn btn-primary btn-info" type="submit" ng-click="Delete_Selected()">Delete Selected</button>                  
                                <button class="btn btn-primary btn-info" type="submit" ng-click="Print_CheckPaper()">Print Selected on Check Paper</button>    
                                <button class="btn btn-primary btn-info" type="submit" ng-click="Print_PlainPaper()">Print selected on Plain Paper</button>  
                                <button class="btn btn-primary btn-info" type="submit" ng-click="Send_Email()">Send email</button>
                            </div>
                         </div>
                    </form>
                    <!--<div class="box-body">
                    	<label class="input-group">Tips: Clicking the "Print Selected" button will print all checks with a check mark next to it</label>
                        <label class="input-group"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Clicking the printer icon will only print the check in that row</label>
                    </div>-->
					<div style="visibility: hidden">
					  <div class="md-dialog-container" id="myStaticDialog">
						<md-dialog>
						  This is a pre-rendered dialog.
						</md-dialog>
					  </div>
					</div>
				  <!--==={{check_company_admin}}<===>{{check_company_user}}===={{check_from_date}}==={{check_to_date}}==={{check_month}}-->
				  <table class="table table-hover search_checks table-striped">
					<tr>
					  <th width="5">
						<md-checkbox ng-model="company.selectall" aria-label="Recurring Payments" ng-init="" ng-true-value="1" ng-false-value="0" ></md-checkbox>  
					 </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Date
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Name
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Memo
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Amount
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th width="90">
						<a href="javascript:void(0);" ng-click="sortBy('')">Status
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Recurring
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th>
						<a href="javascript:void(0);" ng-click="sortBy('')">Verification
						  <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
						</a>
					  </th>
					  <th  width="140">Action</th>
					  
					</tr>
					<tr ng-animate="'animate'">
					   <td>
						   <md-checkbox ng-model="company.selectall" aria-label="Recurring Payments" ng-init="" ng-true-value="1" ng-false-value="0" ></md-checkbox>
					  </td>
					  <td>12/13/2016</td>
					  <td>test</td>
					  <td>test</td>
					  <td>20</td>
					  <td>5/0</td>
					  <td></td>
					  <td></td>
					  <td>
						<a ui-sref="" ><i class="fa fa-edit"></i></a> &nbsp;
						<a ui-sref="" ><i class="fa fa-print"></i></a> &nbsp;
						<a ui-sref="" ><i class="fa fa-mobile"></i></a> &nbsp;
						<a ui-sref="" ><i class="fa fa-copy"></i></a> &nbsp;
						<a ui-sref="" ><i class="fa fa-cubes"></i></a> &nbsp;
						<a ui-sref="" ><i class="fa fa-circle-o"></i></a> &nbsp;
					  </td>
					  </tr>
					  <tr ng-if="companysubscriptionsMessage">
						<td colspan="5">{{companysubscriptionsMessageText}}</td>
					 </tr>
				  </table>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		  </div>
        <!-- /.box-body -->
        
        <!-- /.box-footer-->
     

    </section>
    
	<!-- Footer Start-->
	<div ng-include="'views/common/footer.html'"></div>
	<!-- Footer End-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
