<!--
  Timepicker Directive Template

  Add the directive template to the template cache. In a proper
  build system, this would of course be in its own html file.
  -->
  <script type="text/ng-template" id="timepicker.tpl.html">

    <div class="timepicker">
      <label>{{ labelText }}</label><br>
      <input type="text" ng-model="theTime"
             time-input render-on-blur render-on-enter>
      <div ng-show="showingChoiceList" class="timepicker-dropdown" ng-cloak>
        <div ng-repeat="time in choiceTimes" class="item" id="d{{ time | dateToTimestamp }}"
              ng-click="setTime(time)" ng-class="{ selected: isSelectedTime(time) }">
          {{ time | date:"shortTime" }}
        </div>
      </div>
    </div>

  </script>
  <!-- End timepicker directive template -->